.mg-table {
  width: 100%;
}
.mg-table-footer {
  position: sticky;
  bottom: 0;
  background: hsla(0, 0%, 100%, 0.8);
  display: flex;
  flex-wrap: wrap-reverse;
}
.mg-table-footer .vf-pagination {
  min-width: 75%;
  flex-grow: 2;
}
.mg-table-footer > label {
  flex-grow: 1;
  padding: 0.5em;
  color: #707372;
}

.mg-table-overlay-container {
  position: relative;
}
.mg-table-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  background: lightgray;
  display: list-item;
  animation: palpitation 1s linear infinite;
}

@keyframes palpitation {
  0%,
  35% {
    opacity: 0.4;
  }
  20%,
  50% {
    opacity: 0.2;
  }
}
.mg-table-caption > div {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
}
.mg-table-caption > div > div {
  display: flex;
  gap: 1em;
}
