{
  "env": {
    "devevelopment": {
      "presets": [
        "env"
      ],
      "plugins": [
        "instanbul"
      ],
      "retainLines": true
    },
    "production": {
      "presets": [
        "es2015",
        "react"
      ],
      "retainLines": true
    }
  }
}