dist/
node_modules/

# Cypress files
cypress/videos/
cypress/screenshots/


# IDE (Webstorm) files
*.iml
*.idea

# Merged fixture file
travis/emg_sql_fixtures/merged.sql

# MacOS specific
.DS_STORE

# Coverage tmp files
.nyc_output
nyc
coverage

# Local API configs
config
