dist/
node_modules/

# Cypress files
cypress/videos/
cypress/screenshots/
cypress/downloads/


# IDE (Webstorm) files
*.iml
.idea/*
!.idea/runConfigurations
.vscode

# Merged fixture file
travis/emg_sql_fixtures/merged.sql

# MacOS specific
.DS_STORE

# Coverage tmp files
.nyc_output
nyc
coverage
coverage.lcov

# Local API configs
config
config.private.json

.sha1.sha1
/npm-debug.log
