<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <!--TODO add metadata-->
    <title>Samples</title>
    <meta name="description" content="EMBL-EBI"/><!-- Describe what this page is about -->
    <meta name="keywords" content="bioinformatics, europe, institute"/>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whol project) -->
    <meta name="author" content="EMBL-EBI"/><!-- Your [project-name] here -->
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#70BDBD"/> <!-- Android Chrome mobile browser tab color -->

    <!-- Add information on the life cycle of this page -->
    <meta name="ebi:owner" content="John Doe"/> <!-- Who should be contacted about changes -->
    <meta name="ebi:review-cycle" content="30"/> <!-- In days, how often should the content be reviewed -->
    <meta name="ebi:last-review" content="2015-12-20"/> <!-- The last time the content was reviewed -->
    <meta name="ebi:expiry" content="2016-01-20"/> <!-- When this content is no longer relevant -->

    <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch -->
    <link rel="dns-prefetch" href="//embl.de"/>

    <!-- If you have custom icon, replace these as appropriate.
         You can generate them at realfavicongenerator.net -->
    <link rel="icon" type="image/x-icon"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/favicon.ico"/>
    <link rel="icon" type="image/png"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="192×192"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/android-chrome-192x192.png"/>
    <!-- Android (192px) -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-icon-114x114.png"/>
    <!-- For iPhone 4 Retina display (114px) -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-icon-72x72.png"/>
    <!-- For iPad (72px) -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-icon-144x144.png"/>
    <!-- For iPad retinat (144px) -->
    <link rel="apple-touch-icon-precomposed"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-icon-57x57.png"/>
    <!-- For iPhone (57px) -->
    <link rel="mask-icon"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/safari-pinned-tab.svg"
          color="#ffffff"/> <!-- Safari icon for pinned tab -->
    <meta name="msapplication-TileColor" content="#2b5797"/> <!-- MS Icons -->
    <meta name="msapplication-TileImage"
          content="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/mstile-144x144.png"/>

    <!-- CSS: implied media=all -->
    <!-- CSS concatenated and minified via ant build script-->
    <link rel="stylesheet" href="/static/css/foundation.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://www.ebi.ac.uk/web_guidelines/EBI-Icon-fonts/v1.2/fonts.css" type="text/css"
          media="all"/>

    <!-- Use this CSS file for any custom styling -->
    <!--
      <link rel="stylesheet" href="css/custom.css" type="text/css" media="all">
    -->

    <!-- If you have a custom header image or colour -->
    <meta name="ebi:masthead-color" content="#091314"/>
    <meta name="ebi:masthead-image"
          content="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/backgrounds/embl-ebi-background-4.jpg"/>

    <!-- you can replace this with theme-[projectname].css. See http://www.ebi.ac.uk/web/style/colour for details of how to do this -->
    <!-- also inform ES so we can host your colour palette file -->
    <link rel="stylesheet" href="/static/css/theme-embl-petrol.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/css/ebi-global.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/css/site.css" type="text/css" media="all"/>

</head>

<body class="level2"><!-- add any of your classes or IDs -->
<div id="header"></div>

<div id="content">
    <section id="main-content-area" class="row" role="main">
        <div class="columns small-12 medium-12 large-12">
            <h2>Samples list</h2>
            <div id="filterForm"></div>

            <!-- Your menu structure should make a breadcrumb redundant, but if a breadcrump is needed uncomment the below -->
            <!--         <nav aria-label="You are here:" role="navigation">
                      <ul class="breadcrumbs">
                        <li><a href="../../">EBI Framework</a></li>
                        <li><a href="../">Sample pages</a></li>
                        <li>
                          <span class="show-for-sr">Current: </span> Search results boilerplate
                        </li>
                      </ul>
                    </nav> -->

            <div class="row">
                <div class="small-12 columns">
                    <h2>Search results</h2>
                    <div id="pageSize"></div>
                </div>

                <div class="small-12 medium-12 medium-push-12">
                    <table class="samples-table tablesorter">
                        <thead>
                        <tr>
                            <th class="biome-icon">Biome</th>
                            <th class="sample-id">Sample ID</th>
                            <th class="sample-name">Name</th>
                            <th class="description">Description</th>
                        </tr>
                        </thead>
                        <tbody id='samples-table-body'>
                        <tr>
                            <td class='loading-gif-row' colspan="4">
                                <img class='loading-gif' src="/static/images/ajax-loader.gif"/>
                            </td>
                        </tr>
                        </tbody>
                        <script id="sample-row" type="text/template">
                            <td>
                                <span class="biome_icon icon_xs <%= biome_icon %> <%= biome_name %>" title="<%= biome_name %>"></span>
                            </td>
                            <td>
                                <div><%= sample_accession %></div>
                            </td>
                            <td>
                                <div><a href=<%=sample_link %>><%= sample_name %></a></div>
                            </td>
                            <td>
                                <div><%= sample_desc %></div>
                            </td>
                        </script>
                    </table>
                </div> <!-- /medium-7 -->
            </div>
            <div id="pagination"></div>
        </div>
    </section>
</div>
<!-- Optional local footer (insert citation / project-specific copyright / etc here -->
<!-- <footer id="local-footer" class="local-footer" role="local-footer"> -->
<!-- <div class="row"> -->
<!-- <span class="reference">How to reference this page: ...</span> -->
<!-- </div> -->
<!-- </footer> -->
<!-- End optional local footer -->
<!-- </div> -->
<!-- End suggested layout containers / #content -->


<div id="footer"></div>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="static/libraries/jquery.twbsPagination.js"></script>
<script defer="defer" src="/static/js/script.js"></script>

<!-- The Foundation theme JavaScript -->
<script src="/static/js/foundation.js"></script>
<script src="/static/js/foundationExtendEBI.js"></script>
<script type="text/JavaScript">$(document).foundation();</script>
<script type="text/JavaScript">$(document).foundationExtendEBI();</script>
<script src="dist/samples.js"></script>
<!-- Google Analytics details... -->
<!-- Change UA-XXXXX-X to be your util's ID -->
<!--
<script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
-->
</body>
</html>