/*NOTE*/
/*This styling was commented out because it was causing biome filters not to appear
when on the Feature/V2-Hooks-II.
This was subsequently causing the search.js test not to pass in the pipeline
24-03-2024: this styling for the .mg-hierarchy-selector was reinstated to fix the pyhlumTree styling issue.
*/
.mg-hierarchy-selector {
  display: flex;
  margin-bottom: 5px;
  transition: all 0.4s ease-out;
  height: 0;
  opacity: 0;
}
.mg-hierarchy-selector button,
.mg-hierarchy-selector .mg-hierarchy-spacer {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.mg-hierarchy-selector button.mg-expander {
  background: transparent;
  border: 0;
  cursor: pointer;
}
.mg-hierarchy-selector div:last-child {
  flex-grow: 2;
}
.mg-hierarchy-selector .mg-hierarchy-label {
  background-color: var(--vf-color--green--lightest, #d0debb);
  padding: 0.1rem;
}

.mg-hierarchy-selector.show {
  height: 1rem;
  opacity: 1;
}
