/*
    First iteration of extracting the search page styles
*/

.facet-group-container {
    margin: 10px 0 10px 0;
    position: relative;
}

.facet-panel {
    overflow: scroll;
}

.facets {
    max-height: 550px;
    overflow-y: auto;
    padding-left: 14px;
}

.facet-group {
    position: relative;
    display: none;
    padding-left: 12px;
    overflow-wrap: break-word;
}

.load-more {
    display: none;
    margin: 0 0 10px 25%;
}

.load-more.show {
    display: inline-block;
}

.toggle-tree-node {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: -2px;
}

.facet-group.show {
    display: block;
    width: 100%;
}

.facet-checkbox-label {
    display: inline-block;
    margin: 0;
    /* padding + checkbox (13px) */
    width: calc(95% - 25px);
}

.facet-checkbox+.facet-checkbox-label {
    vertical-align: top;
    margin: 0;
}

.more-fields {
    clear: both;
    padding: 15px 0;
}