.colorBarWrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
}
.colorBar {
    background-image: linear-gradient(to right, rgba(0, 128, 128, 0.3), rgba(0, 128, 128, 1.0));
    width: 240px;
    margin: 0 8px;
}