/*
	Custom Text Reset
	Based on: 960 Grid System Text CSS
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body 			{ font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; ***REMOVED***

a:focus 		{ outline: 1px dotted invert; ***REMOVED***

hr 				{ border: 0 #ccc solid; border-top-width: 1px; clear: both; height: 0; ***REMOVED***

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 				{ font-size: 25px; ***REMOVED***

h2 				{ font-size: 23px; ***REMOVED***

h3 				{ font-size: 21px; ***REMOVED***

h4 				{ font-size: 19px; ***REMOVED***

h5 				{ font-size: 17px; ***REMOVED***

h6 				{ font-size: 15px; ***REMOVED***

/* `Spacing
----------------------------------------------------------------------------------------------------*/

li 				{ margin-left: 30px; ***REMOVED***

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset { margin-bottom: 20px; ***REMOVED***