<div class="grid_24">

    <h2 class="pipeline_title">Pipeline version 3.0 <span>- 30-Jun-2016</span></h2>


    <!-- Pipeline chart for version 3.0 v2-->


    <div class="block_wrapper">

        <div class="block_container pipe_v3">

            <div class="mainbranch">
                <div class="block-lb">Raw reads</div>
                <div class="arrow_pip "></div>
                <div class="block small step0">
                    <div class="children">SeqPrep</div>
                </div>
                <div class="arrow_pip "></div>
                <div class="block-lb">Initial reads</div>
                <div class="arrow_pip"></div>
                <div class="block step1">
                    <div class="children">QC</div>
                </div>
                <div class="arrow_pip"></div>
                <div class="block-lb">Processed reads</div>
                <div class="arrow_pip"></div>
                <div class="block step2">
                    <div class="children_l">ncRNA selection</div>
                </div>
            </div>

            <div class="lowbranch">
                <div class="lowbranch_func">
                    <div class="arrow_pip rotate_f"></div>
                    <div class="block-lb">Reads with rRNA &amp; tRNA masked</div>
                    <div class="arrow_pip"></div>
                    <div class="block step3 function">
                        <div class="children_l">ORF predictions</div>
                    </div>
                    <div class="arrow_pip"></div>
                    <div class="block-lb">Predicted CDS</div>
                    <div class="arrow_pip"></div>
                    <div class="block step4 function">
                        <div class="children_l">Functional analysis</div>
                    </div>
                    <div class="arrow_pip"></div>
                    <div class="block-lb">IPR matches &amp; GO terms</div>
                </div> <!-- /lowbranch_func -->

                <div class="lowbranch_tax">
                    <div class="arrow_pip rotate_t"></div>
                    <div class="block-lb">Reads with rRNA</div>
                    <div class="arrow_pip"></div>
                    <div class="block-lb">16s rRNA</div>
                    <div class="arrow_pip"></div>
                    <div class="block step5 taxon">
                        <div class="children_l">Taxonomic analysis</div>
                    </div>
                    <div class="arrow_pip"></div>
                    <div class="block-lb">OTUs &amp; taxonomic lineage</div>
                </div><!-- /lowbranch_tax -->

                <div class="lowbranch_trna">
                    <div class="arrow_pip rotate_t"></div>
                    <div class="block-lb">Reads with tRNA</div>
                </div><!-- /lowbranch_trna -->
            </div><!-- /lowbranch -->
        </div> <!-- /block_container -->
    </div>   <!-- /block_wrapper -->


    <!-- /pipeline chart version 3.0 v2 -->

    <!-- Pipeline chart for version 3.0 v1-->


    <!-- /pipeline chart version 3.0 v1 -->


    <h3>Pipeline tools &amp; steps</h3>


    <!-- Table version 3.0 -->
    <table class="pipeline_table">
        <thead>
        <tr>
            <th width="4px"></th>
            <th>Tools</th>
            <th>Version</th>
            <th>Description</th>
            <th>How we use it</th>
        </tr>
        </thead>
        <tbody>

        <!-- Change table row class for each tool -->


        <tr class="step0 row-cb">


            <td>
                <!-- Showing a step number, add one as the first step is not a tool in the database -->
                1
            </td>
            <td><a class="ext" href="https://github.com/jstjohn/SeqPrep">SeqPrep</a></td>
            <td>1.1</td>
            <td>A program to merge paired end Illumina reads that are overlapping into a single longer read.</td>
            <td>Paired-end overlapping reads are merged - we do not perform assembly.</td>
        </tr>


        <tr class="step1 row-cb">


            <td>
                <!-- Showing a step number, add one as the first step is not a tool in the database -->
                2.1
            </td>
            <td><a class="ext" href="http://www.usadellab.org/cms/?page=trimmomatic">Trimmomatic</a></td>
            <td>0.35</td>
            <td>A flexible read trimming tool.</td>
            <td>Low quality trimming (low quality ends and sequences with &gt; 10% undetermined nucleotides removed).
            </td>
        </tr>


        <tr class="step1 row-cb">


            <td>
                <!-- Showing a step number, add one as the first step is not a tool in the database -->
                2.2
            </td>
            <td><a class="ext" href="http://biopython.org/wiki/Biopython">Biopython</a></td>
            <td>1.65</td>
            <td>A set of freely available tools for biological computation written in Python.</td>
            <td>Sequences &lt; 100 nucleotides in length removed.</td>
        </tr>


        <tr class="step2 row-cb">


            <td>
                <!-- Showing a step number, add one as the first step is not a tool in the database -->
                3
            </td>
            <td><a class="ext" href="http://hmmer.org">HMMER</a></td>
            <td>v3.1b1</td>
            <td>A computer program for biosequence analysis using profile hidden Markov models.</td>
            <td>Identification and masking of ncRNAs.</td>
        </tr>


        <tr class="step3 row-function">


            <td>
                <!-- Showing a step number, add one as the first step is not a tool in the database -->
                4
            </td>
            <td><a class="ext" href="https://sourceforge.net/projects/fraggenescan/">FragGeneScan</a></td>
            <td>1.20</td>
            <td>An application for finding (fragmented) genes in short reads.</td>
            <td>Reads with predicted coding sequences (pCDS) above 60 nucleotides in length.</td>
        </tr>


        <tr class="step4 row-function">


            <td>
                <!-- Showing a step number, add one as the first step is not a tool in the database -->
                5
            </td>
            <td><a class="ext" href="https://github.com/ebi-pf-team/interproscan/wiki">InterProScan</a></td>
            <td>5.19-58.0</td>
            <td>A sequence analysis application (nucleotide and protein sequences) that combines different protein
                signature recognition methods into one resource.
            </td>
            <td>Matches are generated against predicted CDS, using a sub set of databases (Pfam, TIGRFAM, PRINTS,
                PROSITE patterns, Gene3d) from InterPro release 58.0. A summary of Gene Ontology (GO) terms derived from
                InterPro matches to your sample is provided. It is generated using a reduced list of GO terms called GO
                slim (version <a href="http://www.geneontology.org/ontology/subsets/goslim_metagenomics.obo"
                                 class="ext">goslim_goa</a>).
            </td>
        </tr>


        <tr class="step5 row-taxon">


            <td>
                <!-- Showing a step number, add one as the first step is not a tool in the database -->
                6
            </td>
            <td><a class="ext" href="http://qiime.org/">QIIME</a></td>
            <td>1.9.1</td>
            <td>An open-source bioinformatics pipeline for performing taxonomic analysis from raw DNA sequencing data.
            </td>
            <td>16s rRNA are annotated using the Greengenes reference database (default closed-reference OTU picking
                protocol with Greengenes 13.8 reference with reverse strand matching enabled).
            </td>
        </tr>


        </tbody>
    </table>


    <script type="text/javascript">
        $(document).ready(function () {

            //add class "highlight" when hover over the row
            $('table tbody tr').hover(function () {
                $(this).addClass('highlight');
            }, function () {
                $(this).removeClass('highlight');
            });

            //for step0
            $('.block.step0').hover(function () {
                $('.block.step0, table tbody tr.step0').addClass('highlight');

            }, function () {
                $('.block.step0, table tbody tr.step0').removeClass('highlight');
            });

            $('table tbody tr.step0').hover(function () {
                $('.step0').addClass('highlight');
            }, function () {
                $('.step0').removeClass('highlight');
            });

            //for step1
            $('.block.step1').hover(function () {
                $('.block.step1, table tbody tr.step1').addClass('highlight');

            }, function () {
                $('.block.step1, table tbody tr.step1').removeClass('highlight');
            });

            $('table tbody tr.step1').hover(function () {
                $('.step1').addClass('highlight');
            }, function () {
                $('.step1').removeClass('highlight');
            });

            //for step2
            $('.block.step2').hover(function () {
                $('.block.step2, table tbody tr.step2').addClass('highlight');
            }, function () {
                $('.block.step2, table tbody tr.step2').removeClass('highlight');
            });

            $('table tbody tr.step2').hover(function () {
                $('.step2').addClass('highlight');
            }, function () {
                $('.step2').removeClass('highlight');
            });

            //for step3
            $('.block.step3').hover(function () {
                $('.block.step3, table tbody tr.step3').addClass('highlight');
            }, function () {
                $('.block.step3, table tbody tr.step3').removeClass('highlight');
            });

            $('table tbody tr.step3').hover(function () {
                $('.step3').addClass('highlight');
            }, function () {
                $('.step3').removeClass('highlight');
            });

            //for step4
            $('.block.step4').hover(function () {
                $('.block.step4, table tbody tr.step4').addClass('highlight');
            }, function () {
                $('.block.step4, table tbody tr.step4').removeClass('highlight');
            });

            $('table tbody tr.step4').hover(function () {
                $('.step4').addClass('highlight');
            }, function () {
                $('.step4').removeClass('highlight');
            });

            //for step5
            $('.block.step5').hover(function () {
                $('.block.step5, table tbody tr.step5').addClass('highlight');
            }, function () {
                $('.block.step5, table tbody tr.step5').removeClass('highlight');
            });

            $('table tbody tr.step5').hover(function () {
                $('.step5').addClass('highlight');
            }, function () {
                $('.step5').removeClass('highlight');
            });
        });
    </script>
</div>