/*Charts page  - sample comparison tool*/
#bars #bars-wrapper, #pca #plots-wrapper, #stack #stack_wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 9px; /*add some space between charts and legend*/
}

#bars .rChart {
    float: left;
    overflow: visible !important;
    width: 33%; /*border:1px red solid;*/
}

/* Height of charts is calculated in the R script */
#pca .rChart {
    float: left;
    width: 33%; /*height:500px;*/
    border: 0px red solid;
}

#stack .rChart { /*border:1px red solid;*/
}

#heatmap img {
    max-width: 100%;
    height: auto; /*width:850px;*/ /*remove width from there as it should be defined right in the export parameters of R*/
}

/* pipeline chart *******************************/
/*icon*/
.icon_pipeline_v {
    background-color: #E4E4E4;
    border-radius: 3px;
    cursor: pointer;
    color: #676767;
    margin-right: 9px;
    border: 1px solid #DADADA;
    padding: 4px 8px;
    position: absolute;
    top: 18px;
    right: 18px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.icon_pipeline_v:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

/*chart*/
.block_wrapper {
    margin: 0 9px 18px 9px;
    min-height: 15em; /*for qclist text to appear correctly*/
}

.block_container {
    width: 300%; /*was 1109px*/
    float: left;
    border: 0px red solid;
}

.block.step0.highlight, .block.step1.highlight, .block.step2.highlight, .block.step3.highlight, .block.step4.highlight, .block.step5.highlight {
    border: 1px #0F6D99 solid;
    background-color: #0F6D99;
    transition: all 0.5s ease;
    color: white;
}

.first_branch, .mainbranch, .midbranch, .lowbranch, .branch {
    float: left;
}

.mainbranch { /*was margin-top:57px;*/
    padding-top: 56px;
    height: 139px;
    border: 0px black solid;
}

.first_branch {
    margin-top: 44px;
}

.branch2 {
    margin-top: 20px;
}

.block, .block-nt, .block-lb {
    font-size: 90%;
    padding: 5px;
    display: inline-block;
    text-align: center; /*vertical-align: middle;*/
}

.block, .block_small {
    position: relative;
    padding: 2px;
    cursor: pointer;
    border: 1px #B4D0F3 solid;
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
    line-height: 7.1;
    background-color: #EAF0F9;
    color: #5983B5;
}

.block.small {
    font-size: 67%;
    width: 5em;
    height: 5em;
    line-height: 4.3;
}

.block.medium {
    font-size: 85%;
    width: 50px;
    height: 50px;
}

.block-nt {
    border: 1px #C3C3C3 solid;
    line-height: 3.1;
    background-color: #DBDBDB;
    color: #777;
    margin-left: 9px;
}

.block-lb {
    border: 1px #C3C3C3 solid;
    color: #777;
}

.block-ar {
    padding: 2px;
    border: 0px #B4D0F3 solid;
    color: grey;
    display: inline-block;
}

.block-lb.small {
    font-size: 67%;
    padding: 4px;
}

/** pipeline release 3 branch changes
.pipe_v3 .mainbranch{padding-top:99px;}
.pipe_v3 .midbranch{margin-top: 69px; margin-left: -2px;}
.pipe_v3 .rotate_f, .pipe_v3 .rotate_t {margin-left: 0; }
.pipe_v3 .rotate_f {margin-right: 2px; }
.midbranch_trna {margin-top: 27px;}
.lowbranch_tax {margin-top: -5px;}
.pipe_v3 .block, .pipe_v3 .block_small, .pipe_v3 .block_med {line-height:inherit;}
.block .children {margin: 40% auto;}
.block .children_l {margin: 25% auto;}

.block.function {border:1px #DACAEC solid; background-color:#ECE2FF;color: #9B8CBA;}
**/

/*.pipe_v3 .mainbranch{padding-top:99px;}*/
.pipe_v3 .midbranch {
    margin-top: 69px;
    margin-left: -2px;
}

.pipe_v3 .rotate_f, .pipe_v3 .rotate_t {
    margin-left: -13px;
}

.pipe_v3 .rotate_f {
    margin-right: 5px;
}

.midbranch_trna {
    margin-top: 27px;
}

.lowbranch_tax {
    margin-top: 9px;
}

/*to show space between circles*/
.pipe_v3 .block {
    line-height: inherit;
    width: 6em;
    height: 6em;
}

.pipe_v3 .block.small {
    line-height: inherit;
    font-size: 67%;
    width: 6em;
    height: 6em;
}

.block .children {
    margin: 40% auto;
}

.block .children_l {
    margin: 25% auto;
}

.block.function {
    border: 1px #DACAEC solid;
    background-color: #ECE2FF;
    color: #8C7CAE;
}

.block.taxon {
    border: 1px #ECCACA solid;
    background-color: #FAEBD7;
    color: #A86363;
}

.qclist {
    font-size: 98%;
    position: absolute;
    top: 108px;
    left: 18px;
    color: #777;
    line-height: 1.2;
    width: 286px;
    text-align: left;
}

.qclist ul {
    margin: 0;
    padding: 0;
}

.arrow_pip {
    display: inline-block;
    position: relative;
    background: grey;
    padding: 2px;
    width: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

.arrow_pip:after {
    left: 100%;
    top: 50%;
    border: solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(24, 33, 38, 0);
    border-left-color: grey;
    border-width: 5px;
    margin-top: -5px;
}

.arrow_notip {
    display: inline-block;
    background: grey;
    padding: 2px;
    width: 131px;
    margin-left: 2px;
    margin-right: 2px;
}

.rotate_t {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    margin-bottom: 12px;
}

.rotate_f {
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg); /*margin-left: -22px;*/
    margin-bottom: -12px;
    margin-right: 6px; /*for alignment*/
}

table .highlight {
    background-color: #0F6D99 !important;
    color: White;
    transition: all 0.5s ease;
}
