.tabs-panel.active {
    display: block;
}

.studies-table, .browse-studies-table, .samples-table, .genomes-table {
    overflow: hidden;
    /*white-space: nowrap;*/
    table-layout: fixed;
}

.browse-studies-table th:first-child {
    width: 5%;
}

.browse-studies-table th:nth-child(2) {
    width: 10%;
}

.browse-studies-table th:nth-child(3) {
    width: 50%;
}

.browse-studies-table th:nth-child(4) {
    width: 7%;
}

.browse-studies-table th:last-child {
    width: 10%;
}

.biomes-table th:first-child {
    width: 5%;
}

.studies-table th:first-child {
    width: 7%;
}

.studies-table th:nth-child(2) {
    width: 12%;
}

.studies-table th:nth-child(4) {
    width: 45%;
}

.studies-table th:last-child {
    width: 10%;
}

.samples-table th:first-child {
    width: 6%;
}

.samples-table th:nth-child(2) {
    width: 10%;
}

.samples-table th:last-child {
    width: 11%;
}

.publications-table th:first-child {
    width: 8em;
}

.publications-table th:nth-child(3) {
    width: 7em;
}

.publications-table th:nth-child(4) {
    width: 9em;
}

.runs-download-table {
    table-layout: fixed;
    text-align: center;
}

.runs-download-table th:first-child {
    width: 20em;
}

.runs-download-table th:nth-child(2) {
    width: 8em;
}

.runs-download-table th:nth-child(3) {
    width: 5em;
}

/* FIXME: MERGE Tables styles */

.genome-downloads-table {
    table-layout: fixed;
    text-align: center;
}

.genome-downloads-table th:first-child {
    width: 40em;
}

.genome-downloads-table th:nth-child(2) {
    width: 8em;
}

.genome-downloads-table th:nth-child(3) {
    width: 5em;
}

td, th {
    word-wrap: break-word;
}

/*STUDIES TABLE*/
th.biome {
    width: 6%
}

th.samples {
    width: 7%
}

th.updated {
    width: 10%
}

/*SAMPLES TABLE*/
th.biome-icon {
    width: 6%;
}

th.sample-id {
    width: 10%;
}

th.study-id {
    width: 10%;
}

th.sample-name {
    width: 18%;
}

th.description {
    width: 46%;

}

table:not(.tablesorter) th.sort-desc:after {
    float: right;
    content: url(../images/sort_desc.png);
}

table:not(.tablesorter) th.sort-asc:after {
    float: right;
    content: url(../images/sort_asc.png);
}

table:not(.tablesorter) th.sort-both:after {
    float: right;
    content: url(../images/sort_both.png);
}

/*background-image: url(/metagenomics/node_modules/ebi-framework/libraries/tablesorter/css/images/black-unsorted.gif);*/
/*background-repeat: no-repeat;*/
/*background-position: 100%;*/
/*cursor: pointer;*/

.search-row > td > div {
    max-height: 5em;
    overflow-y: scroll;
}

/*div.disabled {*/
/*filter: grayscale(70%);*/
/*opacity: 0.7;*/
/*cursor: not-allowed;*/
/*}*/

.pagesize-container {
    margin-top: .5em;
    margin-right: .5em;
    margin-bottom: 0;
}

.inline-select {
    margin-bottom: 0;
}

.header-search-input {
    width: 50% !important;
    float: left;
}

.header-search-button {
    width: 30% !important;
    float: left;
}

.facet-remove-button {
    margin-right: 1em !important;
    float: left;
}

.samples-table > tbody > tr > td > div {
    max-height: 5em;
    overflow-y: scroll;
}

.facet-slider-input {
    width: auto;
}

.facet-group {
    margin-bottom: .5em;
}

.slider-input {
    margin-top: .5em;
}

.left {
    float: left
}

.right {
    float: right;
}

/*th.updated{*/
/*width: 5%*/
/*}*/

select.table-tools {
    -webkit-appearance: menulist;
    height: auto;
    width: 5em;
    margin-left: 0.25em;
    margin-right: 0.5em;

}

.map {
    height: 30em;
}

.centered {
    text-align: center;
}

#map {
    height: 100%;
    width: 100%;
}

.no-coords-span {
    background: #333;
    color: #fff;
    position: relative;
    bottom: 15em;
    text-align: center;
    margin: 0 auto;
    display: none;
    width: 12em;
}

.expand-button {
    cursor: pointer;
}

.expand-button:after {
    content: ' [+]';
}

.expand-button.min:after {
    content: ' [-]';
}

/* Index page */
.jumbo-header {
    background: url(../images/backgrounds/bgd_header_microbes_30p.png) 96% bottom no-repeat,
    url(../images/backgrounds/bgd_header_microbes_big_10p.png) -100px center no-repeat;
    text-align: center;
    font-weight: 300;
    line-height: 1.4;
    padding: 60px 0;
    margin-bottom: 18px;
    background-color: #5b7790;
}

.jumbo-header .lead {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 239%;
    color: #fff;
    line-height: 1.3;
}

.jumbo-header .button {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 18px;
    display: inline-block;
}

.jumbo-header .button a {
    font-size: 143%;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: url(../images/backgrounds/bgd_button_login_off.gif) repeat-x 50%;
    border-radius: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 12px 22px;
    cursor: pointer;
    border: 1px #1f54bc solid;
}

#this_close {
    float: right;
    top: 0;
    margin: 0.5em;
    font-size: 1.5em;
    color: white;
    right: 0;
    position: absolute;
    cursor: pointer;
}

.biome-disp {
    height: 9em;
    margin-bottom: 1em;
}

.studies-list {
    max-height: 30em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.inline-select {
    width: auto;

}

.page-item.current {
    padding: inherit;
}

.page-item.current > a {
    color: white;
}

.home-blog-img {
    float: left;
    margin-right: 9px;
}

.home-blog-box {
    margin: 0 18px 18px 0;
    border: 1px #cbcbcb solid;
    overflow: hidden /*when resizing*/;
    padding: 5px 20px;
    min-height: 19.5em;
}

.home-blog-box.tall {
    min-height: 48.4em;
}

/************* BIOME ICONS ************/
/*biome gal*/
.biome_icon {
    display: inline-block;
    /*background-image: url(../images/ico_biome_sprite.png);*/
    background-size: cover;
    float: left;
    margin-right: 0.5em;
}

.biome_icon.air_b {
    background-image: url(../images/biome_icons/biome_air.svg);
}

.biome_icon.amphibian_b {
    background-image: url(../images/biome_icons/biome_amphibian.svg);
}

.biome_icon.arthropoda_b {
    background-image: url(../images/biome_icons/biome_arthropoda.svg);
}

.biome_icon.brain_b {
    background-image: url(../images/biome_icons/biome_brain.svg);
}

.biome_icon.cave_b {
    background-image: url(../images/biome_icons/biome_cavewater.svg);
}

.biome_icon.default_b {
    background-image: url(../images/biome_icons/biome_default.svg);
}

.biome_icon.desert_b {
    background-image: url(../images/biome_icons/biome_desert.svg);
}

.biome_icon.drinking_water_b {
    background-image: url(../images/biome_icons/biome_drinkingwater.svg);
}

.biome_icon.engineered_b {
    background-image: url(../images/biome_icons/biome_engineered.svg);
}

.biome_icon.fish_b {
    background-image: url(../images/biome_icons/biome_fish.svg);
}

.biome_icon.forest_b {
    background-image: url(../images/biome_icons/biome_forestsoil.svg);
}

.biome_icon.freshwater_b {
    background-image: url(../images/biome_icons/biome_freshwater.svg);
}

.biome_icon.glacier_b {
    background-image: url(../images/biome_icons/biome_glacier.svg);
}

.biome_icon.grassland_b {
    background-image: url(../images/biome_icons/biome_grassland.svg);
}

.biome_icon.groundwater_b {
    background-image: url(../images/biome_icons/biome_groundwater.svg);
}

.biome_icon.hotspring_b {
    background-image: url(../images/biome_icons/biome_hotspring.svg);
}

.biome_icon.human_gut_b {
    background-image: url(../images/biome_icons/biome_gut.svg);
}

.biome_icon.human_host_b {
    background-image: url(../images/biome_icons/biome_human.svg);
}

.biome_icon.hydrothermal_vents_b {
    background-image: url(../images/biome_icons/biome_hydrothermalvents.svg);
}

.biome_icon.ice_b {
    background-image: url(../images/biome_icons/biome_ice.svg);
}

.biome_icon.insect_b {
    background-image: url(../images/biome_icons/biome_insect.svg);
}

.biome_icon.lake_b {
    background-image: url(../images/biome_icons/biome_lake.svg);
}

.biome_icon.lung_b {
    background-image: url(../images/biome_icons/biome_lung.svg);
}

.biome_icon.mammals_b {
    background-image: url(../images/biome_icons/biome_mammals.svg);
}

.biome_icon.marine_b {
    background-image: url(../images/biome_icons/biome_marine.svg);
}

.biome_icon.mollusca_b {
    background-image: url(../images/biome_icons/biome_mollusca.svg);
}

.biome_icon.mouth_b {
    background-image: url(../images/biome_icons/biome_mouth.svg);
}

.biome_icon.plant_host_b {
    background-image: url(../images/biome_icons/biome_plant.svg);
}

.biome_icon.porifera_b {
    background-image: url(../images/biome_icons/biome_porifera.svg);
}

.biome_icon.river_b {
    background-image: url(../images/biome_icons/biome_river.svg);
}

.biome_icon.skin_b {
    background-image: url(../images/biome_icons/biome_skin.svg);
}

.biome_icon.soil_b {
    background-image: url(../images/biome_icons/biome_soil.svg);
}

.biome_icon.vulcano_b {
    background-image: url(../images/biome_icons/biome_volcanic.svg);
}

.biome_icon.wastewater_b {
    background-image: url(../images/biome_icons/biome_waste.svg);
}

.biome_icon.wetlands_b {
    background-image: url(../images/biome_icons/biome_wetlands.svg);
}

/*biome large icon*/
.biome_icon.icon_lg {
    width: 150px;
    height: 150px;
}

/*biome medium icon*/
.biome_icon.icon_sm {
    width: 75px;
    height: 75px;
}

/*biome medium icon*/
.biome_icon.icon_m {
    width: 60px;
    height: 60px;
}

/*biome small icon*/
.biome_icon.icon_xs {
    width: 30px;
    height: 30px;
}

/*Submit page*/
#submissionModal {
    width: 26em;
    text-align: center;
}

/*Compare page*/
.comparison-select {
    width: 100%;
    height: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.study-option {
    padding: 2px 4px;
}

.advanced-settings-wrapper {
    display: none;
}

.text-right {
    text-align: right;
}

.loading-gif-large {
    height: 5em;
    width: 5em;
}

/*Loading gif in tables*/
.loading-gif {
    height: 2em;
    width: 2em;
}

.loading-gif-large {
    height: 10em;
    width: 10em;
}

.loading-gif-medium {
    height: 1.5em;
    width: 1.5em;
}

.loading-gif-small {
    height: 1em;
    width: 1em;
}

.loading-gif-row {
    text-align: center;
    display: none;
}

.autowidth {
    width: auto;
}

.run-qc-chart {
    width: 100%;
    height: 15em;
}

.facet-panel {
    overflow: scroll;
}

.facet-child-group {
    margin-left: 1em;
    display: none;
}

.facet-child-group.show {
    display: block;
}

.map-alert {
    color: #bf0000;
}

.search-panel-tab {
    font-size: 1rem !important;
}

.loading-cursor {
    cursor: wait !important;
}

.krona_chart {
    height: 540px;
    width: 100%;
    background-color: rgb(244, 244, 248);
    border: 1px solid rgb(224, 224, 224);
}

.tabs-title > a[aria-selected='false'] > img {
    filter: grayscale(100%);
}

.slider-group-title {
    padding-left: 1em;
    float: left;
    line-height: 1.2em;
}

.puce-square-legend {
    margin-right: 6px;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
    filter: grayscale(80%);
}

.disabled-clickable {
    opacity: 0.4;
    filter: grayscale(80%);
}

/* Style for external links */
a.ext, a.ext:link {
    padding-left: 12px;
    background: url(../images/ico_ext_link.png) no-repeat 0 3px;
}

a.ext:hover, a.ext:active, a.ext:focus {
    background: url(../images/ico_ext_link_on.png) no-repeat 0 3px;
}

tr.disabled {
    opacity: 0.3;
}

div.box {
    padding: 1em 2em;
    border: 1px solid #e5e5e5;
    margin: 1em !important;

    display: block;
}

a.download-link {
    margin-right: 1em;
}

p.study-abstract {
    border: 1px solid #e6e6e6;
    padding: 1em;
    overflow-y: scroll;
    max-height: 15em;
}

/* Style for external links */
a.ext, a.ext:link {
    padding-left: 12px;
    background: url(../images/ico_ext_link.png) no-repeat 0 3px;
}

a.ext:hover, a.ext:active, a.ext:focus {
    background: url(../images/ico_ext_link_on.png) no-repeat 0 3px;
}

.detailList-key {
    float: left;
    clear: left;
}

.detailList-value {
    word-wrap: break-word;
    float: right;
    clear: right;
}

.biome-disp > a {
    display: inline;
}

.map-marker-data {
    width: 25em;
    height: 15em;
    overflow-y: scroll;
}

.masthead {
    background-image: url(../images/backgrounds/embl-ebi-background-4.jpg) !important;
    max-width: 1920px;
    margin-top: 0px;
    bottom: auto;
    top: 0px;
    background-color: white;
}

span.pub-title {
    font-weight: bold;
}

div.pagesize {
    padding-top: 2em;
}

li.page-item.active {
    background-color: #007c82;
}

div.home-blog-box img {
    float: left;
    padding: 0.5em;
    max-height: 10em;
    max-width: 10em;
}

img.publication-cover {
    width: auto;
    float: left;
    margin-right: 18px;
}

.getting-started-banner {
    margin: 0.5em 1em;
}

.getting-started {
    border: solid black 1px;
}

.boxed {
    border: solid black 1px;
    padding: 1em;
}

.index-stats-label {
    float: left;
    min-width: 4em;
}

.index-stats-disp {
    min-height: 8em;
}

.header-logo {
    background-size: contain;
    background-repeat: no-repeat;
    height: 5em;
}

a.download-part {
    padding-right: 0.5em;
}

.chart-icon {
    height: 2.5em;
    width: 2.5em;
}

.download-part {
    float: left;
    padding-right: 0.5em;
}

/*Overwrite CSS from API generated login form*/
.well {
    width: inherit !important;
}

/*Fix for bug in ebi-global.css*/
.pagination.disabled {
    padding: 0.1875rem 0 !important;
}

.error {
    color: red;
}

@keyframes highlight {
    0% {
        background: none;
    }
    100% {
        background: #007c82;
    }
}

.highlight {
    animation: highlight 3s;
}

ul.training {
    list-style-type: none;
    padding-left: 20px;
}

ul.training > li:before {
    font-family: 'EBI-Generic';
    content: 't';
    margin: 0 5px 0 -15px;
}

ul.training > li:last-child:before {
    content: "K";
    font-family: EBI-Common;
}

.rebranding-announcement {
    margin-top: 1em;
    text-align: center;
}

.rna-select-fieldset {
    border: #017c82 solid 2px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    margin-bottom: 3em;
    width: 14em;
}

.clear-filter {
    margin-top: 1.5em;
}

.hidden {
    display: none;
}

.analyses-table th:nth-child(3), td:nth-child(3) {
    max-width: 44em;
}

/*Phylo tree*/

.legend-tree .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}

.legend-tree .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.legend-tree .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}

.legend-tree ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    opacity: .6;
}

.legend-tree .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

.legend-tree a {
    color: #777;
}

path.link {
    fill: none;
    stroke: #000000;
    stroke-width: 1.5px;
}

/* Tree list css for browser*/

.node rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: .5;
    stroke: #545f4f;
    stroke-width: 1.5px;
}

.node text {
    font: 14px sans-serif;
    pointer-events: none;
}

path.link {
    fill: none;
    stroke: #000000;
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

.entry {
    fill: red;
}

.igv-navbar select, .igv-navbar input {
    margin: unset;
    padding: unset;
}

.genome-browser-container{
    width: 100%;
    max-height: 20em;
}

.genome-browser-legend {
    width: 100%;
    height: 10em;
    overflow-x: scroll;
}

.igv-popover-mgnify-header {
    font-size: 1.6em;
    text-align: center;
    margin: 5px;
}

.igv-popover-section-header {
    text-align: left;
    font-size: 1.3em;
}

.igv-content-div > .igv-popover {
    min-width: 500px;
}

.igv-popover-table-list {
    list-style-type: none;
    margin: 0;
}

.igv-popover-table-td-name {
    width: 25%;
}

.legend-entry {
    float: left;
    clear:right;
    padding-bottom:0.5em;
    padding-right: 1em;
}
.legend-color {
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
    float: left;
    clear: left;
}

.legend-label {
    float:left
}

.browse-genomes-table th:nth-child(8) {
    width: 14em;
}

/* Genome serach */
.sequence {
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.paste-sequence {
    color: grey;
    font-weight: 700;
    font-size: 1.2em;
}