.studiesTable {
    overflow: hidden;
    /*white-space: nowrap;*/
    table-layout: fixed;
}

td, th {
    word-wrap: break-word;
}

th.biome {
    width: 30%
}

th.name {
    width: 50%
}

th.samples {
    width: 7%
}

/*th.updated{*/
/*width: 5%*/
/*}*/