.mg-page-search .vf-grid .vf-stack fieldset {
  padding: 4px;
}

.mg-page-search .vf-form__legend {
  font-size: 1.2rem;
}
@media (min-width: 846px) {
  .mg-grid-search {
    grid-template-columns: 25% 75%;
  }
}
