<div class="columns margin-top-medium">
  <div class="callout warning">
    <h5>We need your help!</h5>
    <p> We need your help in understanding the impact of MGnify services and data in your research. Please take the
      EMBL-EBI impact survey that includes MGnify (15 min). Your replies will help keep the data flowing to the
      scientific community.</p>
    <a href="https://www.surveymonkey.co.uk/r/EMBL-EBI_Impact_DR" target="_blank" class="button">
      Take survey
    </a>
  </div>
</div>