<div class="columns small-12 medium-3 large-3 right">
    <label for="biome" class="study_search">Biomes:</label>
    <span id="biomeSelect">
                            <select id='biome-select' name="biome" class="autowidth">
                            </select>
                </span>
    <button id='clear-filter' class="button right">Clear</button>
</div>