<div class="columns small-12 medium-3 large-3 right">
    <label for="biome" class="study_search">Biomes:</label>
    <span id="biomeSelect">
        <select name="biome" class="biome-select">
        </select>
    </span>
    <button class="clear-filter button right">Clear</button>
</div>