<div class="reveal visible" id="loginModal" data-reveal data-cy="loginModal">
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="row">
        <div class="columns small-12 medium-6 large-6 text-box">
            <h3>Login</h3>
            <div id="login-form">

            </div>
            <!--<form action="/metagenomics/api/http-auth/login/" role="form" method="post">-->
            <!--<input type="hidden" name="csrfmiddlewaretoken" value="missing">-->
            <!--<input type="hidden" name="next" value="">-->
            <!--<div id="div_id_username" class="clearfix control-group ">-->
            <!--<div class="form-group">-->
            <!--<label for="id_username">Username:</label>-->
            <!--<input type="text" name="username" maxlength="100" autocapitalize="off" autocorrect="off" class="form-control textinput textInput" id="id_username" required="" autofocus="">-->

            <!--</div>-->
            <!--</div>-->
            <!--<div id="div_id_password" class="clearfix control-group ">-->
            <!--<div class="form-group">-->
            <!--<label for="id_password">Password:</label>-->
            <!--<input type="password" name="password" maxlength="100" autocapitalize="off" autocorrect="off" class="form-control textinput textInput" id="id_password" required="">-->
            <!--</div>-->
            <!--</div>-->
            <!--<a href="https://www.ebi.ac.uk/ena/submit/sra/#reset-password">Forgot your password?</a>-->
            <!--<div class="form-actions-no-box">-->
            <!--<input type="submit" name="submit" value="Log in" class="btn btn-primary form-control" id="submit-id-submit"> |-->
            <!--<a data-close aria-label="Close modal">-->
            <!--Cancel-->
            <!--</a>-->
            <!--</div>-->
            <!--</form>-->
        </div>
        <div class="columns small-12 medium-6 large-6">
            <h3 class="text-center">Not registered yet?</h3>
            <h4 class="text-center"><a href="https://www.ebi.ac.uk/ena/submit/sra/#metagenome_registration">Sign up</a> to register</h4>
            <p class="text-center">or</p>
            <p class="text-center"><a href="https://www.ebi.ac.uk/ena/submit/sra/#home">
                <img src="static/images/ico_ena_user.jpg" alt="ENA member" border="0"></a></p>
            <p class="text-center">If you already are a registered user of the European Nucleotide Archive (ENA), you should simply use your
                ENA account to login.</p>
        </div>
    </div>
</div>
