<!--Google Map marker API-->

<div class="map-marker-data">
    <div class="row">
        <div class="columns">
            <h5>Lat/Long: {{lat}}, {{lng}}</h5>
        </div>
    </div>
    <img id="{{uuid-loading-icon}}" class="loading-gif-medium" src="static/images/ajax-loader.gif">
    <div class="row columns">
        <ul id="{{uuid-samples}}">
        </ul>
    </div>
</div>