<div class="row">
    <div class="columns small-12 medium-6 large-6">
        <label for="pagesize">Showing:
            <select id="pagesize" class="inline-select">
                <option value=50>50</option>
                <option value=25>25</option>
                <option selected value=10>10</option>
            </select>
            results from a total of <span
                    id="totalResults"></span> (page <span id="currentPage"></span> of <span
                    id="maxPage"></span>).
        </label>
    </div>
    <div class="columns small-12 medium-6 large-6 text-right">
        <label for="sortBy">Order by
            <select id="sortBy" class="inline-select"></select>
        </label>
    </div>
</div>

