<div class="row">
    <div class="columns small-12 medium-12 large-12">
        <ul class="pagination pagination-sm" role="navigation" aria-label="Pagination">
        </ul>
    </div>
</div>

<!--<li class="pagination-previous disabled"><a class="paginatino"Previous <span class="show-for-sr">page</span></li>-->
<!--<li class="current"><span class="show-for-sr">You're on page</span> 1</li>-->
<!--<li><a class='pagination'aria-label="Page 2">2</a></li>-->
<!--<li class="ellipsis" aria-hidden="true"></li>-->
<!--<li class="pagination-next"><a class='pagination'aria-label="Next page">Next <span class="show-for-sr">page</span></a>-->
<!--</li>-->