<div>
    <h2>Latest publications</h2>
    <p><b>A new genomic blueprint of the human gut microbiota. Nature (2019) doi:
        <a title="A new genomic blueprint of the human gut microbiota"
           href="https://www.nature.com/articles/s41586-019-0965-1">10.1038/s41586-019-0965-1</a></b> <br/>
        Almeida A, Mitchell AL, Boland M, Forster SC,Gloor GB, Tarkowska A, Lawley TD and Finn, RD
    </p>
    <p>
        <b>Human gastrointestinal bacteria genome and culture collection. Nat. Biotechnol 37, 186–192 (2019) doi:
            <a href="https://doi.org/10.1038/s41587-018-0009-7">10.1038/s41587-018-0009-7</a></b> <br/>
        Forster SC, Kumar N, Anonye BO, Almeida A,
        Viciani E, Stares MD, Dunn M, Mkandawire TT, Zhu A, Browne HP, Shao Y, Pike LJ, Louie T, Mitchell AL, Neville
        BA, Finn RD, Lawley TD.</p>
    <p>
        <b>Benchmarking taxonomic assignments based on 16S rRNA gene profiling of the microbiota from commonly sampled
            environments. GigaScience, V 7, Issue 5 (2018) doi:
            <a href="https://doi.org/10.1093/gigascience/giy054">10.1093/gigascience/giy054</a></b><br/>
        Almeida A, Mitchell AL, Tarkowska A, Finn RD
    </p>
</div>
<h5><a class="expand-button" for="#extra_citation">More publications</a></h5>
<div id="extra_citation" class="hidden">
    <p><b>EBI metagenomics in 2016 - an expanding and evolving resource for the analysis and archiving
        of metagenomic data. Nucleic Acids Research (2015)</b> doi: <a
            title="EBI metagenomics in 2016 - an expanding and evolving resource for the analysis and archiving of metagenomic data"
            href="http://nar.oxfordjournals.org/content/44/D1/D595.full"
            class="ext">10.1093/nar/gkv1195</a> <br/>
        Alex Mitchell, Francois Bucchini, Guy Cochrane, Hubert Denise, Petra ten Hoopen, Matthew Fraser,
        Sebastien Pesseat, Simon Potter, Maxim Scheremetjew, Peter Sterk and Robert D. Finn (2015).<br/>
    </p>
    <p><b>EBI metagenomics - a new resource for the analysis and archiving of metagenomic
        data.</b> Nucleic Acids Research (2013) doi: <a
            title="EBI metagenomics - a new resource for the analysis and archiving of metagenomic data"
            href="http://dx.doi.org/10.1093/nar/gkt961" class="ext">10.1093/nar/gkt961</a> <br/>
        Sarah Hunter, Matthew Corbett, Hubert Denise, Matthew Fraser, Alejandra Gonzalez-Beltran, Christopher
        Hunter, Philip Jones, Rasko Leinonen, Craig McAnulla, Eamonn Maguire, John Maslen, Alex Mitchell,
        Gift Nuka, Arnaud Oisel, Sebastien Pesseat, Rajesh Radhakrishnan, Philippe Rocca-Serra, Maxim
        Scheremetjew, Peter Sterk, Daniel Vaughan, Guy Cochrane, Dawn Field and Susanna-Assunta Sansone
        (2013).<br/>
    </p>
</div>