<div class="filter_form">
    <form id="filter">
        <fieldset>
            <div class="result_row">
                <label for="text" class="study_search">Text:</label>
                <span><input id="search" name="search" type="text" value=""></span>
            </div>
            <div class="result_row">
                <label for="biome" class="study_search">Biomes:</label>
                <span id="biomeSelect">
                       <script id="biomeSelectorTmpl" type="text/template">
                            <select name="biome">
                                <% _.each(biomes, function(biome) { %>
                                    <option value="<%= biome %>"><%= biome %></option>
                                <% }); %>
                            </select>
                        </script>
                </span>
            </div>
            <div class="result_row">
                <div class="filter_button">
                    <input type="submit" class="main_button">
                    | <a class="clearFilter">Clear</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>