<div class="filter_form" id="filter">
    <div class="row">
        <div class="columns small-12 medium-6 large-6">
            <label for="text" class="study_search">Text:</label>
            <span><input id="search-input" name="search" type="text" class="autowidth"></span>

        </div>
        <div class="columns small-12 medium-6 large-6">
            <label for="biome" class="study_search">Biomes:</label>
            <span id="biomeSelect">
                            <select id='biome-select' name="biome" class="autowidth">
                            </select>
                </span>
            <button id='clear-filter' class="button right">Clear</button>
        </div>
    </div>
</div>