<div class="filter_form">
    <form id="filter">
        <fieldset>
            <div class="row">
                <div class="columns small-12 medium-4 large-3">
                    <label for="text" class="study_search">Text:</label>
                    <span><input id="search" name="search" type="text" class="autowidth"></span>

                </div>
                <div class="columns small-12 medium-8 large-9">
                    <label for="biome" class="study_search">Biomes:</label>
                    <span id="biomeSelect">
                       <script id="biomeSelectorTmpl" type="text/template">
                            <select name="biome" class="autowidth">
                                <% _.each(biomes, function(b) { %>
                                    <option value="<%= b.lineage %>"><%= b.biome %></option>
                                <% }); %>
                            </select>
                        </script>
                </span>
                </div>
            </div>

            <div class="result_row">
                <div class="filter_button">
                    <input type="submit" class="main_button">
                    | <a class="clearFilter">Clear</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>