<!--<div class="page-size row">-->
    <!--<div class="medium-3 columns">-->
        <!--<div class="row">-->
            <!--<div class="small-2 columns">-->
                <!--<label for="page-size-select" class="right inline">Show </label>-->
            <!--</div>-->
            <!--<div class="small-10 columns">-->
                <!--<select id="page-size-select" class="table-tools">-->
                    <!--<option value="25">25</option>-->
                    <!--<option value="50">50</option>-->
                    <!--<option value="100">100</option>-->
                <!--</select> elements-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="medium-6 columns">-->

    <!--</div>-->

    <!--<div class="medium-3 columns right">-->
        <!--<label>-->
            <!--Filter-->
            <!--<input id="search-filter" class="filter clearable"/>-->
        <!--</label>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="page-size row">-->
    <!--<div class="columns">-->
        <!--<p class="small">Showing page <span id="currentPage">1</span> of <span-->
                <!--id="totalPages">2</span>.-->
        <!--</p>-->
    <!--</div>-->
<!--</div>-->