<!doctype html>
<html lang="en">
<head id="head">
    <title>Biomes &lt; EBI Metagenomics &lt; EMBL-EBI</title>
    {{> partials/head this}}
</head>

<body class="level2"><!-- add any of your classes or IDs -->
<div id="header-container">{{> partials/header this}}</div>

<div id="content">
    <section id="main-content-area" class="row" role="main">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs columns">
                <li><a href="./">Home</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> Biomes
                </li>
            </ul>
        </nav>
        <div class="row columns">
            <section id="biomes-section"></section>
        </div>

        <!--<table class="biomes-table">-->
        <!--<thead>-->
        <!--<tr>-->
        <!--<th class="biome-header"></th>-->
        <!--<th data-sortby='biome_name' class="biome-name sort-both">Biome name and lineage</th>-->
        <!--&lt;!&ndash;<th class="lineage_projects">Projects with this lineage</th>&ndash;&gt;-->
        <!--<th data-sortby='samples_count' class="samples_count sort-both">Samples including-->
        <!--sub-lineages-->
        <!--</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody id='biomes-table-body'>-->
        <!--<tr>-->
        <!--<td class='loading-gif-row' colspan="4">-->
        <!--<img class='loading-gif' src="{{htmlWebpackPlugin.options.templateData.subfolder}}/static/images/ajax-loader.gif"/>-->
        <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--<script id="biome-row" type="text/template">-->
        <!--<td>-->
        <!--<span class="biome_icon icon_xs <%= icon %>" title="<%= name %>"></span>-->
        <!--</td>-->
        <!--<td class="biome-name"><a href="<%= biome_studies_link %>" class="name-lineage"> <%= name %></a> <br> <span class="lineage"><%= lineage %></span></td>-->
        <!--<td class="samples_count"><a href="<%= biome_studies_link %>"><%= samples_count %></a></td>-->
        <!--</script>-->
        <!--</table>-->

</div> <!-- /medium-7 -->
</div>
<div id="pagination"></div>
</div>
</section>
</div>
<!-- Optional local footer (insert citation / project-specific copyright / etc here -->
<!-- <footer id="local-footer" class="local-footer" role="local-footer"> -->
<!-- <div class="row"> -->
<!-- <span class="reference">How to reference this page: ...</span> -->
<!-- </div> -->
<!-- </footer> -->
<!-- End optional local footer -->
<!-- </div> -->
<!-- End suggested layout containers / #content -->


<div id="footer">
    {{>partials/elixir}}
    {{>partials/footer}}
</div>

</body>
</html>