<!doctype html>
<html lang="en">

<head id="head">
    <title>MGnify &lt; EMBL-EBI</title>
    {{> partials/head this}}
    <meta property="og:title" content="MGnify analysis page > EMBL-EBI">
    <meta property="twitter:title" content="MGnify analysis page > EMBL-EBI">

    <meta name="og:description" content="View this analysis.">
    <meta name="twitter:description" content="View this analysis.">
</head>
    <!-- IGV Popup template -->
    <script id="igv-popup-template" type="text/template">
        <table class="stack hover">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                <% _.each(attributes, (attr) => { %>
                    <tr>
                        <td>
                            <%= attr.name %>
                        </td>
                        <td>
                            <% if (attr.name === 'gene') { %>
                                <a href="http://bacteria.ensembl.org/Multi/Search/Results?species=all;idx=;q=<%= attr.value %>;site=ensemblunit"  target="_blank"><%= attr.value %></a>
                            <% } else { %>
                                <%= attr.value %>
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </script>
    
    <!-- add any of your classes or IDs -->
    <div id="header-container">{{> partials/header this}}</div>

    <!-- Suggested layout containers / #content -->
    <div id="content">
        <div id="main-content-area" class="row column small-12 medium-12 large-12" role="main">
        </div>
    </div>

    <div class="row">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs columns">
                <li><a href="{{htmlWebpackPlugin.options.templateData.subfolder}}">Home</a></li>
                <li>
                    <span class="show-for-sr">Current: </span>Contigs for Analysis: MGYA00141542
                </li>
            </ul>
        </nav>

        <h2>Contigs for Analysis: MGYA00141542</h2>

        <section class="row">
            <div class="columns">
                <h4>
                    <a href="#genome-browser" class="" for="genome-browser">Contig Browser</a>
                    <img id="gb-loading" class="loading-gif-medium" src="static/images/ajax-loader.gif">
                </h4>            
            </div>
            <div id="genome-browser" class="columns" style="min-height: 250px;">
            </div>
        </section>    
        <section id="contigs-containter" class="row columns">
            <div id="contigs-table">
                <!-- Table containter -->
            </div>
        </section>
    </div>

    <div id="footer">
        {{>partials/elixir}}
        {{>partials/footer}}
    </div>
</body>

</html>