<!doctype html>
<html lang="en">

<head id="head">
    <title>MGnify &lt; EMBL-EBI</title>
    <script>
        var regex = /([A-z0-9,%+.]+)(?:$|[?])/g;
        document.title = 'Genome ' + regex.exec(window.location.pathname)[1];
    </script>
    {{> partials/head this}}
    <meta property="og:title" content="MGnify genome page > EMBL-EBI">
    <meta property="twitter:title" content="MGnify genome page > EMBL-EBI">

    <meta name="og:description" content="View this genome.">
    <meta name="twitter:description" content="View this genome.">
</head>

<body class="level2">
    <!-- add any of your classes or IDs -->
    <div id="header-container">{{> partials/header this}}</div>

    <!-- Suggested layout containers / #content -->
    <div id="content">
        <div id="main-content-area" class="row columns small-12 medium-12 large-12" role="main">
            <div id="content-header">

            </div>
            <script id="genomeTmpl" type="text/template">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs columns">
                    <li><a href="{{htmlWebpackPlugin.options.templateData.subfolder}}/">Home</a></li>
                    <li><a href="{{htmlWebpackPlugin.options.templateData.subfolder}}/genomes">Browse genomes</a>
                    </li>
                    <li>
                        <span class="show-for-sr">Current: </span> Genome <%= accession %>
                    </li>
                </ul>
            </nav>
            <div class="row">
                <span class="biome_icon icon_m <%= biome.icon %>" title="<%= biome.name %>"></span>
                <h2>Genome <% print(accession) %></h2>
                <p class="lead" style="margin-left: calc(60px + .5em);">
                    <span>Type: <% print(type) %></span>
                    <br/>
                    <span>Taxonomic lineage: <% print(lineage) %></span>
                <p>
            </div>
        </script>
            <div class="row columns">
                <ul class="tabs" data-tabs id="genome-tabs">
                    <li class="tabs-title is-active"><a href="#overview" aria-selected="true">Overview</a></li>
                    <li class="tabs-title"><a href="#genome-browser">Browse genome</a></li>
                    <li class="tabs-title"><a href="#cog-analysis">COG analysis</a></li>
                    <li class="tabs-title"><a href="#kegg-class-analysis">KEGG class analysis</a></li>
                    <li class="tabs-title"><a href="#kegg-module-analysis">KEGG module analysis</a></li>
                    <li class="tabs-title"><a href="#downloads">Downloads</a></li>
                </ul>
                <div class="tabs-content" data-tab-content="genome-tabs">
                    <div class="tabs-panel active" id="overview">
                        <section id="genome-details">
                        </section>
                    </div>
                    <div class="tabs-panel" id="genome-browser">
                        <div id="genome-browser-container">
                            <img class="loading-gif-large"
                                src="{{htmlWebpackPlugin.options.templateData.subfolder}}/static/images/ajax-loader.gif">
                        </div>
                    </div>
                    <div class="tabs-panel" id="cog-analysis">
                        <div id="cog-column"></div>
                        <div class="cog-column-table"></div>
                    </div>
                    <div class="tabs-panel" id="kegg-class-analysis">
                        <div id="kegg-class-column"></div>
                        <div class="kegg-class-column-table"></div>
                    </div>
                    <div class="tabs-panel" id="kegg-module-analysis">
                        <div id="kegg-module-column"></div>
                        <div class="kegg-module-column-table"></div>
                    </div>
                    <div class="tabs-panel" id="downloads">
                        <div id="downloads-section">
                        </div>
                    </div>
                </div>
            </div>
            <p>A full copy of the raw analysis data is available in the <a href="#downloads">downloads tab</a>.</p>
        </div>

        <script id="downloadsTmpl" type="text/template">
        <% for (let groupName of ['Genome analysis', 'Pan-genome analysis']) { %>
            <% if (groupName in genomeFiles){ %>
                <div class="row columns">
                    <h3><%= groupName %></h3>
                        <div class="row columns">
                            <table class="genome-downloads-table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Compression</th>
                                    <th>Format</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for (let entry of genomeFiles[groupName]) { %>
                                    <tr>
                                    <td><%= entry.attributes.description.description %></td>
                                    <td><%= entry.attributes['file-format'].compression ? entry.attributes['file-format'].compExtension
                                        :
                                        '-' %>
                                    </td>
                                    <td><%= entry.attributes['file-format'].name %></td>
                                    <td><% if (entry.attributes.links.length===1){ %>
                                        <div class="download-part">
                                            <a href="<%= entry.attributes.links[0] %>"><span class="icon  icon-functional"
                                                                                            data-icon="="></span>
                                            </a>
                                        </div>
                                        <% } else { %>
                                            <% _.each(entry.attributes.links, function(link, i){ %>
                                            <div class="download-part">
                                                <a href="<%= link %>">Part <%= (i+1) %><span class="icon  icon-functional"
                                                                                            data-icon="="></span>
                                                </a>
                                            </div>
                                            <% }) %>
                                        <% } %>
                                    </td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                    </div>
                </div>
            <% } %>
            <br>
        <% } %>
        </script>
        <!-- IGV Popover templates -->
        <script id="igv-popover-entry" type="text/template">
            <% if (values.length > 0) { %>
                <ul class="igv-popover-table-list">
                    <% _.each(values, function(d) { %>
                        <li>
                            <% if (d.link) { %>
                            <a href="<% print(d.link) %>" target="_blank"><% print(d.name) %></a>
                            <% } else {%>
                                <% print(d.name) %>
                            <% } %>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </script>
        <script id="igv-popover-template" type="text/template">
            <table class="stack hover igv-popover-table">
                <caption class="igv-popover-section-header">
                    Feature
                </caption>
                <tbody>
                    <%if (name) { %>
                        <tr>
                            <td class="igv-popover-table-td-name">
                                ID
                            </td>
                            <td>
                                <% print(name) %>
                            </td>
                        </tr>
                    <% } %>
                    <%if (gene) { %>
                        <tr>
                            <td class="igv-popover-table-td-name">
                                Gene
                            </td>
                            <td>
                                <em><% print(gene) %></em>
                            </td>
                        </tr>
                    <% } %>
                    <%if (product) { %>
                        <tr>
                            <td class="igv-popover-table-td-name">
                                Product
                            </td>                            
                            <td>
                                <% print(product) %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <% _.each(properties, (prop) => { %>
                <table class="stack hover igv-popover-table">
                    <caption class="igv-popover-section-header">
                        <% print(prop.title) %>
                    </caption>
                    <tbody>
                    <% _.each(prop.data, (data) => { %>
                        <% if (data.value && data.value !== '') { %>
                            <tr>
                                <td class="igv-popover-table-td-name">
                                    <% print(data.name) %>
                                </td>
                                <td>
                                    <% print(data.value) %>
                                </td>
                            </tr>
                        <% } %>
                    <% }) %>
                    </tbody>
                </table>
            <% }) %>
        </script>
    </div>

    <div id="footer">
        {{>partials/elixir}}
        {{>partials/footer}}
    </div>

</body>

</html>