<!doctype html>
<html lang="en">
<head id="head">
    <title>MGnify &lt; EMBL-EBI</title>
    <script>
        var regex = /([A-z0-9,%+.]+)(?:$|[?])/g;
        document.title = 'Genome ' + regex.exec(window.location.pathname)[1];
    </script>
    {{> partials/head this}}
    <meta property="og:title" content="MGnify genome page > EMBL-EBI">
    <meta property="twitter:title" content="MGnify genome page > EMBL-EBI">

    <meta name="og:description" content="View this genome.">
    <meta name="twitter:description" content="View this genome.">
</head>

<body class="level2"><!-- add any of your classes or IDs -->
<div id="header-container">{{> partials/header this}}</div>

<!-- Suggested layout containers / #content -->
<div id="content">
    <div id="main-content-area" class="row columns small-12 medium-12 large-12" role="main">
        <script id="genomeTmpl" type="text/template">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs columns">
                    <li><a href="{{htmlWebpackPlugin.options.templateData.subfolder}}/">Home</a></li>
                    <li><a href="{{htmlWebpackPlugin.options.templateData.subfolder}}/genomes">Browse genomes</a>
                    </li>
                    <li>
                        <span class="show-for-sr">Current: </span> Genome <%= accession %>
                    </li>
                </ul>
            </nav>
            <div class="row columns">
                <span class="biome_icon icon_m <%= biome.icon %>" title="<%= biome.name %>"></span>
                <h2>Genome <%= accession %></h2>
            </div>
            <div class="row columns">
                <ul class="tabs" data-tabs id="genome-tabs">
                    <li class="tabs-title is-active"><a href="#overview" aria-selected="true">Overview</a></li>
                    <li class="tabs-title"><a href="#cog-analysis">COG analysis</a></li>
                    <li class="tabs-title"><a href="#kegg-class-analysis">KEGG class analysis</a></li>
                    <li class="tabs-title"><a href="#kegg-module-analysis">KEGG module analysis</a></li>
                    <li class="tabs-title"><a href="#genome-browser">Browse genome</a></li>
                    <li class="tabs-title"><a href="#downloads">Downloads</a></li>
                </ul>
                <div class="tabs-content" data-tab-content="genome-tabs">
                    <div class="tabs-panel active" id="overview">
                        <section id="genome-details">
                        </section>
                    </div>
                    <div class="tabs-panel" id="cog-analysis">
                        <div id="cog-column"></div>
                        <div class="cog-column-table"></div>
                    </div>
                    <div class="tabs-panel" id="kegg-class-analysis">
                        <div id="kegg-class-column"></div>
                        <div class="kegg-class-column-table"></div>
                    </div>
                    <div class="tabs-panel" id="kegg-module-analysis">
                        <div id="kegg-module-column"></div>
                        <div class="kegg-module-column-table"></div>
                    </div>
                    <div class="tabs-panel" id="genome-browser">
                        <div id="genome-browser-container">
                        </div>
                    </div>
                    <div class="tabs-panel" id="downloads">
                        <div id="downloads-section">
                        </div>
                    </div>
                </div>
            </div>
            <p>A full copy of the raw analysis data is available in the downloads tab.</p>
        </script>
    </div>

    <script id="downloadsTmpl" type="text/template">
        <% for (let [groupName, groups] of Object.entries(genomeFiles)){ %>
        <div class="row columns">
            <h3><%= groupName %></h3>
            <% for (let [ignored, download] of Object.entries(groups)){ %>
            <p><a href="<%= download.attributes.links[0] %>"><%= download.attributes.description.label %></a></p>
            <% } %>
        </div>
        <br>
        <% } %>
    </script>
</div>

<div id="footer">
    {{>partials/elixir}}
    {{>partials/footer}}
</div>

</body>


</html>