<!doctype html>
<html lang="en">
<head id="head">
    <meta name="google-site-verification" content="MZ2vU9XgNhi3qHpIu4gH31-7beUHdSm0Z18SRxmLUTo"/>
    <title>Home &lt; MGnify &lt; EMBL-EBI</title>
    {{> partials/head this}}
    <meta property="og:title" content="MGnify home page > EMBL-EBI">
    <meta property="twitter:title" content="MGnify home page > EMBL-EBI">

    <meta name="og:description" content="Submit, analyse, discover and compare microbiome data">
    <meta name="twitter:description" content="Submit, analyse, discover and compare microbiome data">
</head>
<body class="level2"><!-- add any of your classes or IDs -->
<div id="header2">
    {{> partials/header this}}
</div>

<!-- Suggested layout containers / #content -->
<div id="content">
    <div id="main-content-area" class="row" role="main">
        {{> partials/banners this}}
        <section id="getting-started-section">
            <div class="row columns">
                <h2 class="text-center">Getting started</h2>
            </div>
            <div class="row">
                <div class="columns small-12 medium-12 large-6">
                    <div class="home-blog-box tall">
                        <div class="row columns text-center">
                            <h3>Search by</h3>
                            <div class="row">
                                <div class="columns small-12 medium-6 large-6">
                                    <div class="text-center">
                                        <p>Name, biome, or keyword </p>
                                        <a class="button"
                                           href="{{htmlWebpackPlugin.options.templateData.subfolder}}/search">Text
                                            search</a>
                                    </div>
                                </div>
                                <div class="columns small-12 medium-6 large-6">
                                    <div class="text-center">
                                        <p>Sequence similarity</p>
                                        <a class="button"
                                           data-cy="seq-search-getting-started-btn"
                                           href="{{htmlWebpackPlugin.options.templateData.sequenceSearchUrl}}">Sequence
                                            search</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row columns">
                            <h3>Or by data type</h3>
                            <div class="index-stats-disp">
                                <div id="stats-loading">
                                    <img class="loading-gif-large" src="static/images/ajax-loader.gif" alt="Loading...">
                                </div>
                                <div id="stats-disp" class="row hidden">
                                    <div class="columns small-1 medium-1 large-1">
                             <span class="icon icon-conceptual icon-c3"
                                   style="font-size: 2rem"
                                   data-icon="d"></span>
                                    </div>
                                    <div class="columns small-6 medium-6 large-6">
                                        <div class="columns small-12 medium-12 index-stats">
                                            <div class="index-stats-label"><span id="amplicon-stats"></span></div>
                                            amplicon
                                        </div>
                                        <div class="columns small-12 medium-12 index-stats">
                                            <div class="index-stats-label"><span id="assembly-stats"></span></div>
                                            assemblies
                                        </div>
                                        <div class="columns small-12 medium-12 index-stats">
                                            <div class="index-stats-label"><span id="metaB-stats"></span></div>
                                            metabarcoding
                                        </div>
                                        <div class="columns small-12 medium-12 index-stats">
                                            <div class="index-stats-label"><span id="metaG-stats"></span></div>
                                            metagenomes
                                        </div>
                                        <div class="columns small-12 medium-12 index-stats">
                                            <div class="index-stats-label"><span id="metaT-stats"></span></div>
                                            metatranscriptomes
                                        </div>
                                    </div>
                                    <div class="columns small-1 medium-1 large-1">
                                        <div class="columns small-1">
                                        <span class="icon icon-functional icon-c9" style="font-size: 2rem"
                                              data-icon="U"></span>
                                        </div>
                                    </div>
                                    <div class="columns small-4 medium-4 large-4">
                                        <div class="columns small-12 medium-12 index-stats">
                                            <div class="index-stats-label"><span id="project-stats"></span></div>
                                            studies
                                        </div>
                                        <div class="columns small-12 medium-12 index-stats">
                                            <div class="index-stats-label"><span id="sample-stats"></span></div>
                                            samples
                                        </div>
                                        <div class="columns small-12 medium-12 index-stats">
                                            <div class="index-stats-label"><span id="run-stats"></span></div>
                                            analyses
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row columns">
                            <h3>Or by selected biomes</h3>
                            <div id="top10biomes" class="row columns">
                                <script id="biomeTmpl" type="text/template">
                                    <a href="<%= biome_studies_url %>">
                                        <div>
                                            <!--<img class="spacer" alt="icon"-->
                                            <!--src="{{htmlWebpackPlugin.options.templateData.subfolder}}/static/images/backgrounds/bgd_transparent_1x1.png">-->
                                            <span class="biome_icon icon_sm <%= icon %> <%= name%>"></span>
                                        </div>
                                        <div class="biome-text">
                                            <%= name %> (<%= samples_count %>)
                                        </div>
                                    </a>
                                </script>
                            </div>
                            <div class="row columns">
                                <a href="{{htmlWebpackPlugin.options.templateData.subfolder}}/biomes" class="all right"
                                   data-hasqtip="27"
                                   oldtitle="View studies and filter by biome" title=""
                                   aria-describedby="qtip-27">Browse all biomes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns small-12 medium-12 large-6">
                    <div class="row home-blog-box tall">
                        <div class="row columns text-center">
                            <h3>Request analysis of</h3>
                            <div class="row">
                                <div class="columns small-12 medium-6 large-6">
                                    <div class="text-center">
                                        <p>Your data</p>
                                        <button class="button requestAnalysis"
                                                data-target-modal="#requestPrivateAnalysisModal">Submit and/or
                                            Request
                                        </button>
                                    </div>
                                </div>
                                <div class="columns small-12 medium-6 large-6">
                                    <div class="text-center">
                                        <p>A public dataset</p>
                                        <button class="button requestAnalysis"
                                                data-target-modal="#requestPublicAnalysisModal">Request
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row columns">
                            <div id="latestStudies">
                                <h3>Latest studies</h3>
                                <div id="studies" class="studies-list">
                                    <script id="studyTmpl" type="text/template">
                                        <p>
                                            <% _.each(biomes, function(biome){ %>
                                            <span class="biome_icon icon_xs <%= biome.icon %>"></span>
                                            <% }); %>
                                            <a href="<%= study_url %>"><%= study_name %></a>
                                        </p>
                                        <%= abstract %>
                                        <p>
                                            <a href="<%= study_url %>">View more</a> - <a
                                                href="<%= samples_url %>"><%=
                                            samples_count
                                            %>
                                            samples</a>
                                        </p>
                                        <hr>
                                    </script>
                                </div>
                            </div>
                            <div class="row columns">
                                <a href="{{htmlWebpackPlugin.options.templateData.subfolder}}/browse#studies"
                                   class="all right" data-hasqtip="42" oldtitle="View all public studies" title=""
                                   aria-describedby="qtip-42">View all studies</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <section id="blog-section">
            <div class="row">
                <div id="blogSpotlight" class="columns small-12 medium-6 large-6"><h2>Spotlight</h2></div>
                <div id="blogTools" class="columns small-12 medium-6 large-6"><h2>Tools</h2></div>
            </div>
            <div id="blog" class="row">
                <div class="columns small-12 medium-6 large-6">
                    <div class="home-blog-box">
                        <div class="hlight-spot grid_12 alpha" id="blog-spotlight">
                            <div class="hlight_subtitle"><h3></h3></div>
                            <div class="home_box alpha">
                                <div>
                                    <p class="placeholder"
                                       style="width: 50%;"></p>
                                </div>
                                <a href="#" title="Read more on the blog" class="all left">Read more</a>
                                <!-- For links inside the blog post -->
                                <a href="#" class="all right"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns small-12 medium-6 large-6">
                    <div class="home-blog-box">
                        <div class="hlight-spot grid_12 omega" id="blog-tools">
                            <div class="hlight_subtitle"><h3></h3></div>
                            <div class="home_box omega">
                                <div>
                                    <p class="placeholder"
                                       style="width: 50%;"></p>
                                </div>
                                <a href="#" title="Read more on the blog" class="all left">Read more</a>
                                <!-- For links inside the blog post -->
                                <a href="#" class="all right"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="columns small-12 medium-12 large-12 centered">
                    <a id="blog-url" href="#" class="button" data-hasqtip="27"
                       oldtitle="View studies and filter by biome" title=""
                       aria-describedby="qtip-27">See all articles</a>
                </div>
            </div>
        </section>
        <hr>
        {{> partials/publications}}
        <hr>
        <section id="citation-section">
            <div class="row">
                <div class="columns small-12 medium-12 large-12">
                    <h2>How to cite</h2>
                    <div class="home-blog-box">
                        <img alt="Cover of the Nucleic Acids Research journal"
                             src="{{htmlWebpackPlugin.options.templateData.subfolder}}/static/images/nucleic_acids_research_D1_cover.gif"
                             class="publication-cover">
                        <p>To cite MGnify, please refer to the following publication:</p>
                        <p>
                            <b>MGnify: the microbiome analysis resource in 2020. </b> Nucleic Acids Research (2019) doi: <a
                                title="EBI Metagenomics in 2017: enriching the analysis of microbial communities, from sequence reads to assemblies" href="https://doi.org/10.1093/nar/gkz1035" class="ext">10.1093/nar/gkz1035</a> <br/>
                                Mitchell AL, Almeida A, Beracochea M, Boland M, Burgin J, Cochrane G, Crusoe MR, Kale V, Potter SC, Richardson LJ, Sakharova E, Scheremetjew M, Korobeynikov A, Shlemov A, Kunyavskaya O, Lapidus A and Finn RD.
                            <br>
                        </p>
                        <a href="about#h_site" class="all right" data-hasqtip="40" oldtitle="About page - How to cite"
                           title=""
                           aria-describedby="qtip-40">
                            More publications
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <hr>

        <section class="jumbo-news">
            <div class="grid_24 jumbo-news-container">
                <div class="jumbo-news-centred" style="text-align: center">
                    <h3 class="icon icon-socialmedia icon-s2" data-icon="T"></h3>
                    <a class="twitter-timeline" data-width="520" data-height="600" data-dnt="true"
                       data-link-color="#2B7BB9" href="https://twitter.com/MgnifyDB?ref_src=twsrc%5Etfw">Tweets
                        by MGnifyDB</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="reveal small" id="requestPublicAnalysisModal" data-reveal>
    <h2 class="centered">Request an analysis of a public dataset</h2>
    <div class="row columns">
        <p>Using this form, you can request analysis of a suitable publicly available dataset, held within an INSDC
            database. Enter the study accession below and we will prioritise it for analysis with our pipeline.</p>
    </div>
    <form id="analysisPublicRequestForm" data-abide novalidate>
        <div class="row">
            <div class="columns medium-12">
                <label>Study accession
                    <input id="study-accession" name="study-accession" type="text" pattern="study_accession"
                           placeholder="MGYS###### / ERP###### / SRP###### / DRP###### / PRJ######" required>
                    <span class="form-error">
                            Improperly formatted accession, format should be MGYS, ERP, SRP, DRP, PRJEB, PRJNA, PRJDA, PRJDB followed by a number.
                        </span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns medium-6">
                <fieldset class="">
                    <label>Analysis type
                        <span data-tooltip tabindex="1"
                              title="You can request either analysis of raw reads or assembly of the data (where suitable) prior to analysis. Note, assembly may not be feasible for all datasets and may take additional time, particularly for larger studies.">
                            <i class="icon icon-common" data-icon="&#x3f;" data-cy="public-help-tooltip"></i>
                        </span>
                    </label>
                    <label
                            for="analysisOnlyPublic">
                        <input type="radio" name="analysis-type" value="Analysis" id="analysisOnlyPublic" checked>
                        Analysis only
                    </label>
                    <label for="assemblyAndAnalysisPublic">
                        <input type="radio" name="analysis-type" value="Assembly+Analysis"
                               id="assemblyAndAnalysisPublic">
                        Assembly and analysis
                    </label>
                </fieldset>
            </div>
            <div class="columns medium-6">
                <label>
                    Comment / additional information
                    <input type="text" name="reason">
                </label>
            </div>
        </div>
        <div class="row columns centered">
            <button class="button mailtobtn" type="button">Submit request</button>
        </div>
        <div class="row columns centered confirmation-text">

        </div>
    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="reveal small" id="requestPrivateAnalysisModal" data-reveal>
    <h2 class="centered">Request an analysis of your data</h2>
    <!--No validate attribute forces browser to ignore validation and instead allow Foundation.Abide to enforce it. -->
    <form id="analysisPrivateRequestForm" class="conditional-form" data-abide novalidate>
        <div class="row columns medium-12">
            <fieldset class="">
                <label>Has your data already been submitted?</label>
                <input type="radio" name="dataSubmitted" value="yes" id="dataSubmitted"><label
                    for="dataSubmitted">Yes</label>
                <input type="radio" name="dataSubmitted" value="no" id="dataNotSubmitted"><label
                    for="dataNotSubmitted">No</label>
            </fieldset>
        </div>
        <div class="row conditional-div hidden" data-condition="dataSubmitted" data-condition-val="yes">
            <div class="columns medium-12">
                <label>Study accession
                    <input name="study-accession" type="text" pattern="study_accession"
                           placeholder="MGYS###### / ERP###### / SRP###### / DRP###### / PRJ######" required>
                    <span class="form-error">
                        Improperly formatted accession, format should be MGYS, ERP, SRP, DRP, PRJEB, PRJNA, PRJDA, PRJDB followed by a number.
                    </span>
                </label>
            </div>
            <div class="row">
                <div class="columns medium-6">
                    <fieldset class="">
                        <label>Analysis type
                            <span data-tooltip tabindex="1"
                                  title="You can request either analysis of raw reads or assembly of the data (where suitable) prior to analysis. Note, assembly may not be feasible for all datasets and may take additional time, particularly for larger studies.">
                            <i class="icon icon-common" data-icon="&#x3f;" data-cy="private-help-tooltip"></i>
                        </span>
                        </label>
                        <label for="analysisOnlyPrivate">
                            <input type="radio" name="analysis-type" value="Analysis" id="analysisOnlyPrivate" checked>
                            Analysis only
                        </label>
                        <label for="assemblyAndAnalysisPrivate">
                            <input type="radio" name="analysis-type" value="Assembly+Analysis"
                                   id="assemblyAndAnalysisPrivate">
                            Assembly and analysis
                        </label>
                    </fieldset>
                </div>
                <div class="columns medium-6">
                    <label>
                        Comment / additional information
                        <input type="text" name="reason">
                    </label>
                </div>
            </div>

            <div class="row columns centered">
                <p>The analysis of your data will be held confidentially on our site until the hold date expires.</p>
            </div>
            <div class="row columns centered">
                <button class="button mailtobtn" type="button">Submit request</button>
            </div>
            <div class="row columns centered confirmation-text">

            </div>
        </div>
        <div class="conditional-div hidden" data-condition="dataSubmitted" data-condition-val="no">
            <div class="row columns centered">
                <p>Please submit your data before requesting analysis as it must be archived in the ENA for us to
                    process it.</p>
            </div>
            <div class="row columns centered">
                <a class="button" href="https://www.ebi.ac.uk/ena/submit/sra/">Go to ENA submission page</a>
            </div>
            <!--<div class="row">-->
            <!--<div class="columns">-->
            <!--<label>Study title-->
            <!--<input name="study-title" type="text" required>-->
            <!--</label>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- Optional local footer (insert citation / project-specific copyright / etc here -->
<!-- <footer id="local-footer" class="local-footer" role="local-footer"> -->
<!-- <div class="row"> -->
<!-- <span class="reference">How to reference this page: ...</span> -->
<!-- </div> -->
<!-- </footer> -->
<!-- End optional local footer -->
<!-- </div> -->
<!-- End suggested layout containers / #content -->

<div id="footer">
    {{>partials/elixir}}
    {{>partials/footer}}
</div>
<!-- JavaScript -->

<!-- Google Analytics details... -->
<!-- Change UA-XXXXX-X to be your util's ID -->
<!--
<script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
-->
</body>
</html>
