<!doctype html>
<html lang="en">
<head id="head">
    <title>MGnify &lt; EMBL-EBI</title>
    {{> partials/head this}}
    <meta property="og:title" content="MGnify sample page > EMBL-EBI">
    <meta property="twitter:title" content="MGnify sample page > EMBL-EBI">

    <meta name="og:description" content="View this sample.">
    <meta name="twitter:description" content="View this sample.">
</head>

<body class="level2"><!-- add any of your classes or IDs -->
<div id="header-container">{{> partials/header this}}</div>
<!-- Suggested layout containers / #content -->
<div id="content">
    <div id="main-content-area" class="row column small-12 medium-12 large-12" role="main">
        {{> partials/banners this}}
        <script id="sampleTmpl" type="text/template">
            <div class="row">
                <div class="column small-12 medium-12 large-12">
                    <nav aria-label="You are here:" role="navigation">
                        <ul class="breadcrumbs columns">
                            <li><a href="{{htmlWebpackPlugin.options.templateData.subfolder}}/">Home</a></li>
                            <li><a href="{{htmlWebpackPlugin.options.templateData.subfolder}}/browse#samples">Browse
                                samples</a></li>
                            <li>
                                <span class="show-for-sr">Current: </span> Sample <%= sample_accession %>
                            </li>
                        </ul>
                    </nav>
                    <h3>Sample overview (<%= sample_accession %>)</h3>
                    <h2>Sample <%= sample_name %> </h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div id="sample-description" class="columns small-6 medium-6 large-6">
                    <div class="columns">
                        <h4>
                            Last updated: <%= last_update %>
                        </h4>
                        <h3>Description</h3>
                        <p><%= sample_desc %></p>
                    </div>
                    <div class="columns">
                        <h3>External links</h3>
                        <div class="row columns">
                            <ul id="ebi_ena_links">
                                <li><a class="ext" href="<%= ena_url %>">
                                    ENA website (<%= sample_accession %>)
                                </a></li>
                                <li><a class="ext" href="<%= biosample_url %>">
                                    EBI biosample (<%= biosample %>)
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="columns row">
                        <h3 class="columns">Classification</h3>
                        <div class="columns">
                            <span class="biome_icon icon_sm <%= biome_icon %>" title="<%= biome_name %>"></span>
                            <%= biome_name %>
                        </div>
                    </div>
                </div>
                <div id="map-container" class="columns small-6 medium-6 large-6 map">
                    <img class="map-spinner loading-spinner loading-gif-large" src="{{htmlWebpackPlugin.options.templateData.subfolder}}/static/images/ajax-loader.gif" alt="Loading...">
                    <div id="map"></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column small-12 medium-12 large-12">
                    <section id='sample-metadata'>
                    </section>
                    <section id='additional-metadata'>
                        <h5 id="additional-metadata-loading">
                            Checking publications for additional metadata...
                            <img class="loading-gif-small"
                                 src="{{htmlWebpackPlugin.options.templateData.subfolder}}/static/images/ajax-loader.gif"
                                 alt="Loading...">
                        </h5>
                    </section>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column small-12 medium-12 large-12">
                    <section id="studies-section">
                    </section>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column small-12 medium-12 large-12">
                    <section id="runs-section">
                    </section>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column small-12 medium-12 large-12">
                    <section id="assemblies-section">
                    </section>
                </div>
            </div>
            <hr>
            <section id="external-links-section">
                <div class="row columns">
                    <h3>External links</h3>
                    <ul id="links">
                        <%= external_links %>
                    </ul>
                </div>
            </section>
        </script>
    </div>
    <script id="runRow" type="text/template">
        <td><a href="<%= analysis_url %>"><%= run_accession %></a></td>
        <td><%= experiment_type %></td>
        <td><%= instrument_model %></td>
        <td><a href="<%= analysis_url %>">View analyses</a></td>
    </script>
</div>
<!-- Optional local footer (insert citation / project-specific copyright / etc here -->
<!-- <footer id="local-footer" class="local-footer" role="local-footer"> -->
<!-- <div class="row"> -->
<!-- <span class="reference">How to reference this page: ...</span> -->
<!-- </div> -->
<!-- </footer> -->
<!-- End optional local footer -->
<!-- </div> -->
<!-- End suggested layout containers / #content -->

<div id="footer">
    {{>partials/elixir}}
    {{>partials/footer}}
</div>

<!-- JavaScript -->

</body>

<!--Google Map marker API-->
<!--<script id="marker-template" type="text/x-handlebars-template">-->
<!--<div class="row">-->
<!--<div class="columns small-1 medium-1 large-1"></div>-->
<!--<div class="columns small-11 medium-11 large-11">-->
<!--<h2>Sample - {{this.id}}</h2>-->
<!--&lt;!&ndash;<p>{{this.name}}</p>&ndash;&gt;-->

<!--</div>-->
<!--</div>-->
<!--<div class="row columns">-->
<!--<p>{{this.desc}}</p>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="columns">-->
<!--<ul>-->
<!--<li>-->
<!--Classification: {{this.classification}}-->
<!--</li>-->
<!--<li>-->
<!--Collection date: {{this.collection_date}}-->
<!--</li>-->
<!--<li>-->
<!--Lat/Long: {{this.lat}}, {{this.lng}}-->
<!--</li>-->
<!--<li>-->
<!--Sampling depth: TODO-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row centered">-->
<!--<a href="{{this.sample_url}}" class="button centered">View more</a>-->
<!--</div>-->
<!--</script>-->
</html>