<!doctype html>
<html lang="en">
<head id="head">
    <title>Search &lt; EBI Metagenomics &lt; EMBL-EBI</title>
    {{> partials/head this}}
    <link rel="stylesheet" href="{{subfolder}}/js/search.css" type="text/css" media="all"/>
</head>

<body class="level2"><!-- add any of your classes or IDs -->
<div id="header-container">{{> partials/header this hideSearch='True'}}</div>

<!-- Suggested layout containers / #content -->
<div id="content">
    <div id="main-content-area" class="row" role="main">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs columns">
                 <li><a href="{{subfolder}}">Home</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> Search
                </li>
            </ul>
        </nav>
        <div class="columns small-12 medium-12 large-12">
            <div id="bonsai"></div>

            <h2>Search EBI Metagenomics <img id='loading-icon' class='loading-gif-small'
                                             src="{{subfolder}}/static/images/ajax-loader.gif"/></h2>
        </div>
        <div class="row">
            <div class="columns small- medium-6 large-6">
                <form id="headerSearchForm" action="{{subfolder}}/search">
                    <input id='navbar-query' class='header-search-input' name="query" type="search"
                           placeholder="Search">
                    <button id="search" type="submit" class="button" class="header-search-button">Search
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12 medium-12 large-12">
                <ul class="tabs" data-tabs id="results-tabs" data-deep-link="true">
                    <li class="tabs-title is-active"><a href="#projects" class="search-panel-tab"
                                                        aria-selected="true">Projects</a></li>
                    <li class="tabs-title"><a href="#samples" class="search-panel-tab">Samples</a></li>
                    <li class="tabs-title"><a href="#runs" class="search-panel-tab">Runs</a></li>
                    <li style="float:right">
                        <div id="pageSize" class="pagesize-container"></div>
                    </li>
                </ul>
                <div class="tabs-content" data-tab-content="results-tabs">
                    <div class="tabs-panel active" id="projects">
                        <div class="row">
                            <div class="columns small-2 medium-2 large-2 filters">
                                <form id="projectsFilters"></form>
                                <div class="ebi-search"></div>
                            </div>
                            <div class="columns small-10 medium-10 large-10">
                                <div class="row columns">
                                    <div id="projects-search-params">
                                        <div class="filter-clear"></div>
                                    </div>
                                </div>
                                <div class="row columns">
                                    <div class="reveal" id="projectsModal" data-reveal>
                                        <h4>Available columns</h4>
                                        <ul>
                                        </ul>
                                        <button class="close-button" data-close aria-label="Close modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div id="projectsResults"></div>
                                    <div id="projects-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-panel" id="samples">
                        <div class="row">
                            <div class="columns small-2 medium-2 large-2 filters">
                                <form id="samplesFilters"></form>
                                <div class="ebi-search"></div>
                            </div>
                            <div class="columns small-10 medium-10 large-10">
                                <div class="row columns">
                                    <div id="samples-search-params">
                                        <div class="filter-clear"></div>
                                    </div>
                                </div>
                                <div class="row columns">
                                    <div class="reveal" id="samplesModal" data-reveal>
                                        <h4>Available columns</h4>
                                        <ul>
                                        </ul>
                                        <button class="close-button" data-close aria-label="Close modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div id="samplesResults"></div>
                                    <div id="samples-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-panel" id="runs">
                        <div class="row">
                            <div class="columns small-2 medium-2 large-2 filters">
                                <form id="runsFilters"></form>
                                <div class="ebi-search"></div>
                            </div>
                            <div class="columns small-10 medium-10 large-10">
                                <div class="row columns">
                                    <div id="runs-search-params">
                                        <div class="filter-clear"></div>
                                    </div>
                                </div>
                                <div class="row columns">
                                    <div class="reveal" id="runsModal" data-reveal>
                                        <h4>Available columns</h4>
                                        <ul>
                                        </ul>
                                        <button class="close-button" data-close aria-label="Close modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div id="runsResults"></div>
                                    <div id="runs-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="filtersTmpl" type="text/template">
    <form id="<%= formId %>">
        <h3>Filter results</h3>
        <!--<button type='button' class="button reset">Clear filters</button>-->
        <!--Function to build successive hierarchy of checkboxes-->
        <% function drawAndExpand(child, name, parentValue){ %>
        <% let forLabel = child.value+'checkbox'; %>
        <% if (child.children){ %>
        <button class="disp-children">&#9654;</button>
        <% } %>
        <input name="<%= name %>" type="checkbox" value="<%= parentValue+child.value %>"
               class="facet-checkbox <%= forLabel %>"
               id="<%= forLabel %>"/> <label for="<%= forLabel %>"><%= child.label %> (<%= child.count %>)</label>
        <% _.each(child.children, function(child2){ %>
        <div class="facet-child-group">
            <% drawAndExpand(child2, name, parentValue+child.value+'/'); %>
        </div>
        <% });%>

        <% } %>
        <% _.each(facets, function(facet){ if (facet.label!=='Source'){ %>
        <% facet.label = facet.label.toLowerCase() %>
        <div class="facet-group <%= convertFacetLabelName(facet.label)+'-group' %> ">
            <% if (facet.type==='slider') {%>
            <div class="switch tiny">
                <% const switchId = formId+facet.label+'slider-switch' %>
                <input class="switch-input" data-facet-name="<%= facet.label %>" id="<%= switchId %>" type="checkbox"
                       checked>
                <label class="switch-paddle" for="<%= switchId %>">
                </label>
            </div>
            <h5><%= facet.label.capitalize() %> (<%= facet.units %>)</h5>
            <div class="row columns slider-group">
                <div id="<%= formId+facet.label+'slider' %>" class="slider"
                     data-facet-slider="<%= facet.label+'slider' %>"></div>
                <input class='left slider-input' name="<%= facet.label+'min' %>" data-facet-name="<%= facet.label %>"
                       defaultValue="<%= facet.min %>" data-min type="number">
                <input class='right slider-input' name="<%= facet.label+'max' %>" data-facet-name="<%= facet.label %>"
                       defaultValue="<%= facet.max %>" data-max type="number">
            </div>
        </div>
        <% } else { %>
        <h5><%= facet.label.capitalize() %></h5>
        <% _.each(facet.facetValues, function(child){ %>
        <div class="facet-child-group show">
            <% drawAndExpand(child, facet.id, '') %>
        </div>
        <% }); %>
        <% } %>
        </div>
        <% }});%>
    </form>
</script>

<script id="projectResultsTmpl" type="text/template">
    <div class="row">
        <div class="columns small-8 medium-8 large-8">
            <h5>You searched for projects <%=queryString%></h5>
            <h6>Displaying: <%= entries.length %> out of <%= hitCount %> results</h6>

        </div>
        <div class="columns small-4 medium-4 large-4">
            <button class="button right" name="download">Download results as CSV</button>

            <p><a data-open="projectsModal">Show / Hide columns</a></p>
        </div>
    </div>
    <div class="row btn-container">

    </div>
    <table id="projectsTable">
        <thead>
        <tr>
            <!--<td>Biome</td>-->
            <!--<td>Project</td>-->
            <!--<td>Name</td>-->
            <!--<td>Description</td>-->
            <td data-column="project-ena-accession">ENA accession</td>
            <td data-column="project-id">ID</td>
            <td data-column="project-biome">Biome</td>
            <td data-column="project-name">Name</td>
            <td data-column="project-desc">Description</td>
            <td data-column="project-sample-count">Samples</td>
            <td data-column="project-run-count">Runs</td>
            <td data-column="project-centre-name">Centre name</td>
        </tr>
        </thead>
        <tbody>
        <% _.each(entries, function(entry){ %>
        <% const fields = entry.fields %>
        <tr class="search-row">
            <td data-column="project-ena-accession"><a
                    href="https://www.ebi.ac.uk/ena/data/view/<%= fields.ENA_PROJECT %>"><%= fields.ENA_PROJECT %></a>
            </td>
            <td data-column="project-id"><a href="<%= entry.study_link %>"><%= fields.id %></a></td>
            <td data-column="project-biome"><%= fields.biome_name %></td>
            <td data-column="project-name"><%= fields.name %></td>
            <td data-column="project-desc"><%= fields.description %></td>
            <td data-column="project-sample-count"><%= fields.METAGENOMICS_SAMPLES.length %></td>
            <td data-column="project-run-count"><%= fields.METAGENOMICS_RUNS.length %></td>
            <td data-column="project-centre-name"><%= fields.centre_name %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</script>

<script id="samplesResultsTmpl" type="text/template">
    <div class="row">
        <div class="columns small-8 medium-8 large-8">
            <h5>You searched for samples <%=queryString%></h5>
            <h6>Displaying: <%= entries.length %> out of <%= hitCount %> results</h6>
        </div>
        <div class="columns small-4 medium-4 large-4">
            <button class="button right" name="download">Download results as CSV</button>

            <p><a data-open="samplesModal">Show / Hide columns</a></p>

        </div>
    </div>
    <table id="samplesTable">
        <thead>
        <tr>
            <td data-column="sample-id">Sample</td>
            <td data-column="sample-projects">Project</td>
            <td data-column="sample-name">Name</td>
            <td data-column="sample-desc">Description</td>
        </tr>
        </thead>
        <tbody>
        <% _.each(entries, function(entry){ %>
        <% const fields = entry.fields %>
        <tr class="search-row">
            <td data-column="sample-id"><a href="<%= entry.sample_link %>"><%= entry.id %></a></td>
            <td data-column="sample-projects"><a href="<%= entry.study_link %>"><%= fields.METAGENOMICS_PROJECTS %></a>
            </td>
            <td data-column="sample-name"><%= fields.name %></td>
            <td data-column="sample-desc"><%= fields.description %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</script>

<script id="runsResultsTmpl" type="text/template">
    <div class="row">
        <div class="columns small-8 medium-8 large-8">
            <h5>You searched for runs <%=queryString%></h5>
            <h6>Displaying: <%= entries.length %> out of <%= hitCount %> results</h6>

        </div>
        <div class="columns small-4 medium-4 large-4">
            <button class="button right" name="download">Download results as CSV</button>
            <p><a data-open="runsModal">Show / Hide columns</a></p>
        </div>
    </div>
    <table id="runsTable">
        <thead>
        <tr>
            <td data-column="run-id">Run</td>
            <td data-column="run-sample">Sample</td>
            <td data-column="run-project">Project</td>
            <td data-column="run-experiment-type">Experiment Type</td>
            <td data-column="run-pipeline-vers">Pipeline Version</td>
        </tr>
        </thead>
        <tbody>
        <% _.each(entries, function(entry){ %>
        <% const fields = entry.fields %>
        <tr class="search-row">
            <td data-column="run-id"><a href="<%= entry.run_link %>"><%= entry.id %></a></td>
            <td data-column="run-sample"><a href="<%= entry.sample_link %>"><%= fields.METAGENOMICS_SAMPLES %></a></td>
            <td data-column="run-project"><a href="<%= entry.study_link %>"><%= fields.METAGENOMICS_PROJECTS %></a></td>
            <td data-column="run-experiment-type"><%= fields.experiment_type %></td>
            <td data-column="run-pipeline-vers"><a href="<%= entry.pipeline_link %>"><%= fields.pipeline_version %></a>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</script>

<div class="reveal" id="filtersModal" data-reveal>
    <h4>Additonal filters</h4>
    <div class="facets"></div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<!-- Optional local footer (insert citation / project-specific copyright / etc here -->
<!-- <footer id="local-footer" class="local-footer" role="local-footer"> -->
<!-- <div class="row"> -->
<!-- <span class="reference">How to reference this page: ...</span> -->
<!-- </div> -->
<!-- </footer> -->
<!-- End optional local footer -->
<!-- </div> -->
<!-- End suggested layout containers / #content -->

<div id="footer">
    {{>partials/elixir}}
    {{>partials/footer}}
</div>
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script defer="defer" src="{{subfolder}}/static/js/script.js"></script>

<!-- The Foundation theme JavaScript -->
<script src="{{subfolder}}/static/js/foundation.min.js"></script>
<script src="{{subfolder}}/static/libraries/foundation.util.touch.js"></script>
<script src="{{subfolder}}/static/js/foundationExtendEBI.js"></script>
<script type="text/JavaScript">
    $(document).ready(function () {
        $(document).foundation();
        $(document).foundationExtendEBI();
    });
</script>

<script src="{{subfolder}}/js/search.js"></script>

<!-- Google Analytics details... -->
<!-- Change UA-XXXXX-X to be your util's ID -->
<!--
<script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
-->
</body>

</html>
