<!doctype html>
<html lang="en">
<head id="head">
    <title>Search &lt; MGnify &lt; EMBL-EBI</title>
    {{> partials/head this}}
    <meta property="og:title" content="MGnify search page > EMBL-EBI">
    <meta property="twitter:title" content="MGnify search page > EMBL-EBI">

    <meta name="og:description" content="Search for data on MGnify.">
    <meta name="twitter:description" content="Search for data on MGnify.">
</head>

<body class="level2"><!-- add any of your classes or IDs -->
<div id="header-container">{{> partials/header this hideSearch='True'}}</div>

<!-- Suggested layout containers / #content -->
<div id="content">
    <div id="main-content-area" class="row" role="main">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs columns">
                 <li><a href="{{htmlWebpackPlugin.options.templateData.subfolder}}/">Home</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> Search
                </li>
            </ul>
        </nav>
        <div class="columns small-12 medium-12 large-12">
            <div id="bonsai"></div>

            <h2>Search <img id='loading-icon' class='loading-gif-small'
                                             src="{{htmlWebpackPlugin.options.templateData.subfolder}}/static/images/ajax-loader.gif"/></h2>
        </div>
        <div class="row">
            <div class="columns small-6 medium-6 large-6">
                <form id="headerSearchForm" action="{{htmlWebpackPlugin.options.templateData.subfolder}}/search">
                    <input id='navbar-query' class='header-search-input' name="query" type="search"
                           placeholder="Search" data-cy="text-search-input">
                    <button id="search" type="submit" class="button" class="header-search-button" data-cy="text-search-submit">Search
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12 medium-12 large-12">
                <ul class="tabs" data-tabs id="results-tabs" data-deep-link="true">
                    <li class="tabs-title is-active"><a href="#projects" class="search-panel-tab"
                                                        aria-selected="true">Studies</a></li>
                    <li class="tabs-title"><a href="#samples" class="search-panel-tab">Samples</a></li>
                    <li class="tabs-title"><a href="#analyses" class="search-panel-tab">Analyses</a></li>
                    <li style="float:right">
                        <div id="pageSize" class="pagesize-container"></div>
                    </li>
                </ul>
                <div class="tabs-content" data-tab-content="results-tabs">
                    <div class="tabs-panel active" id="projects">
                        <div class="row">
                            <div class="columns small-3 medium-3 large-3 filters">
                                <form id="projectsFilters" class="search-filters"></form>
                                <div class="ebi-search"></div>
                            </div>
                            <div class="columns small-9 medium-9 large-9">
                                <div class="row columns">
                                    <div id="projects-search-params">
                                        <div class="filter-clear"></div>
                                    </div>
                                </div>
                                <div class="row columns">
                                    <div class="reveal" id="projectsModal" data-reveal>
                                        <h4>Available columns</h4>
                                        <ul>
                                        </ul>
                                        <button class="close-button" data-close aria-label="Close modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div id="projectsResults"></div>
                                    <div id="projects-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-panel" id="samples">
                        <div class="row">
                            <div class="columns small-3 medium-3 large-3 filters">
                                <form id="samplesFilters" class="search-filters"></form>
                                <div class="ebi-search"></div>
                            </div>
                            <div class="columns small-9 medium-9 large-9">
                                <div class="row columns">
                                    <div id="samples-search-params">
                                        <div class="filter-clear"></div>
                                    </div>
                                </div>
                                <div class="row columns">
                                    <div class="reveal" id="samplesModal" data-reveal>
                                        <h4>Available columns</h4>
                                        <ul>
                                        </ul>
                                        <button class="close-button" data-close aria-label="Close modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div id="samplesResults"></div>
                                    <div id="samples-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-panel" id="analyses">
                        <div class="row">
                            <div class="columns small-3 medium-3 large-3 filters">
                                <form id="analysesFilters"  class="search-filters"></form>
                                <div class="ebi-search"></div>
                            </div>
                            <div class="columns small-9 medium-9 large-9">
                                <div class="row columns">
                                    <div id="analyses-search-params">
                                        <div class="filter-clear"></div>
                                    </div>
                                </div>
                                <div class="row columns">
                                    <div class="reveal" id="analysesModal" data-reveal>
                                        <h4>Available columns</h4>
                                        <ul>
                                        </ul>
                                        <button class="close-button" data-close aria-label="Close modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div id="analysesResults"></div>
                                    <div id="analyses-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="filtersTmpl" type="text/template">
    <form id="<%= formId %>">
        <h3>Filter results</h3>
        <!--<button type='button' class="button reset">Clear filters</button>-->
        <!--Function to build successive hierarchy of checkboxes-->
        <% function drawAndExpand(child, name, parentValue){ %>
        <% let forLabel = child.value+'checkbox'; %>
        <% if (child.children){ %>
        <button class="disp-children">&#9654;</button>
        <% } %>
        <input name="<%= name %>" type="checkbox" value="<%= parentValue+child.value %>"
               class="facet-checkbox <%= forLabel %>"
               id="<%= forLabel %>"/> <label for="<%= forLabel %>"><%= child.label %> (<%= child.count %>)</label>
        <% _.each(child.children, function(child2){ %>
        <div class="facet-child-group">
            <% drawAndExpand(child2, name, parentValue+child.value+'/'); %>
        </div>
        <% });%>

        <% } %>
        <% _.each(facets, function(facet){ if (facet.label!=='Source'){ %>
        <% facet.label = facet.label.toLowerCase() %>
        <div class="facet-group <%= facet.label.replace(' ', '_')+'-group' %> ">
            <% if (facet.type==='slider') {%>
            <div class="switch tiny">
                <% const switchId = formId+facet.label+'slider-switch' %>
                <input class="switch-input" data-facet-name="<%= facet.label %>" id="<%= switchId %>" type="checkbox"
                       checked>
                <label class="switch-paddle" for="<%= switchId %>">
                </label>
            </div>
            <h5><%= capitalize(facet.label) %> (<%= facet.units %>)</h5>
            <div class="row columns slider-group">
                <div id="<%= formId+facet.label+'slider' %>" class="slider"
                     data-facet-slider="<%= facet.label+'slider' %>"></div>
                <input class='left slider-input' name="<%= facet.label+'min' %>" data-facet-name="<%= facet.label %>"
                       defaultValue="<%= facet.min %>" data-min type="number">
                <input class='right slider-input' name="<%= facet.label+'max' %>" data-facet-name="<%= facet.label %>"
                       defaultValue="<%= facet.max %>" data-max type="number">
            </div>
        </div>
        <% } else { %>
        <h5><%= capitalize(facet.label) %></h5>
        <% _.each(facet.facetValues, function(child){ %>
        <div class="facet-child-group show">
            <% drawAndExpand(child, facet.id, '') %>
        </div>
        <% }); %>
        <% } %>
        </div>
        <% }});%>
    </form>
</script>

<script id="projectResultsTmpl" type="text/template">
    <div class="row">
        <div class="columns small-8 medium-8 large-8">
            <h5>You searched for studies<%=queryString%></h5>
            <h6>Displaying: <%= entries.length %> out of <%= hitCount %> results</h6>

        </div>
        <div class="columns small-4 medium-4 large-4">
            <button class="button right" name="download">Download results as CSV</button>

            <a data-open="projectsModal"><p>Show / Hide columns</p></a>
        </div>
    </div>
    <div class="row btn-container">

    </div>
    <table id="projectsTable">
        <thead>
        <tr>
            <td data-column="project-id">MGnify ID</td>
            <td data-column="project-ena-accession">ENA accession</td>
            <td data-column="project-biome">Biome</td>
            <td data-column="project-name">Name</td>
            <td data-column="project-desc">Description</td>
            <td data-column="project-sample-count">Samples</td>
            <td data-column="project-analysis-count">Analyses</td>
            <td data-column="project-centre-name">Centre name</td>
        </tr>
        </thead>
        <tbody>
        <% _.each(entries, function(entry){ %>
        <% const fields = entry.fields %>
        <tr class="search-row">
            <td data-column="project-id"><a href="<%= entry.studyLink %>"><%= fields.id %></a></td>
            <td data-column="project-ena-accession"><a class="ext"
                    href="https://www.ebi.ac.uk/ena/data/view/<%= fields.ENA_PROJECT %>"><%= fields.ENA_PROJECT %></a>
            </td>
            <td data-column="project-biome"><%= fields.biome_name %></td>
            <td data-column="project-name"><%= fields.name %></td>
            <td data-column="project-desc"><%= fields.description %></td>
            <td data-column="project-sample-count"><%= fields.METAGENOMICS_SAMPLES.length %></td>
            <td data-column="project-analysis-count"><%= fields.METAGENOMICS_ANALYSES.length %></td>
            <td data-column="project-centre-name"><%= fields.centre_name %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</script>

<script id="samplesResultsTmpl" type="text/template">
    <div class="row">
        <div class="columns small-8 medium-8 large-8">
            <h5 data-cy="samples-query-desc">You searched for samples<%=queryString%></h5>
            <h6 data-cy="samples-query-desc">Displaying: <%= entries.length %> out of <%= hitCount %> results</h6>
        </div>
        <div class="columns small-4 medium-4 large-4">
            <button class="button right" name="download">Download results as CSV</button>

            <p><a data-open="samplesModal">Show / Hide columns</a></p>

        </div>
    </div>
    <table id="samplesTable">
        <thead>
        <tr>
            <td data-column="sample-id">Sample</td>
            <td data-column="sample-projects">Study</td>
            <td data-column="sample-name">Name</td>
            <td data-column="sample-desc">Description</td>
        </tr>
        </thead>
        <tbody>
        <% _.each(entries, function(entry){ %>
        <% const fields = entry.fields %>
        <tr class="search-row">
            <td data-column="sample-id"><a href="<%= entry.sampleLink %>"><%= entry.id %></a></td>
            <td data-column="sample-projects"><a href="<%= entry.studyLink %>"><%= fields.METAGENOMICS_PROJECTS %></a>
            </td>
            <td data-column="sample-name"><%= fields.name %></td>
            <td data-column="sample-desc"><%= fields.description %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</script>

<script id="analysesResultsTmpl" type="text/template">
    <div class="row">
        <div class="columns small-8 medium-8 large-8">
            <h5>You searched for analyses<%=queryString%></h5>
            <h6>Displaying: <%= entries.length %> out of <%= hitCount %> results</h6>

        </div>
        <div class="columns small-4 medium-4 large-4">
            <button class="button right" name="download">Download results as CSV</button>
            <p><a data-open="analysesModal">Show / Hide columns</a></p>
        </div>
    </div>
    <table id="analysesTable">
        <thead>
        <tr>
            <td data-column="analysis-id">Analysis</td>
            <td data-column="analysis-pipeline-vers">Pipeline Version</td>
            <td data-column="analysis-sample">Sample</td>
            <td data-column="analysis-project">Study</td>
            <td data-column="analysis-experiment-type">Experiment Type</td>
            <td data-column="analysis-assembly">Assembly</td>
            <td data-column="analysis-ena-run">ENA run</td>
            <td data-column="analysis-ena-wgs-seq-set">ENA WGS sequence set</td>
        </tr>
        </thead>
        <tbody>
        <% _.each(entries, function(entry){ %>
        <% const fields = entry.fields %>
        <tr class="search-row">
            <td data-column="analysis-id"><a href="<%= entry.analysisLink %>"><%= entry.analysisId %></a></td>
            <td data-column="analysis-pipeline-vers"><a href="<%= entry.pipelineLink %>"><%= fields.pipeline_version %></a>
            <td data-column="analysis-sample"><a href="<%= entry.sampleLink %>"><%= fields.METAGENOMICS_SAMPLES %></a></td>
            <td data-column="analysis-project"><a href="<%= entry.studyLink %>"><%= fields.METAGENOMICS_PROJECTS %></a></td>
            <td data-column="analysis-experiment-type"><%= fields.experiment_type %></td>
            <td data-column="analysis-assembly"><a class="ext" href="https://www.ebi.ac.uk/ena/data/view/<%= entry.assemblyLink %>"><%= fields.ASSEMBLY %></a></td>
            <td data-column="analysis-ena-run"><a class="ext" href="https://www.ebi.ac.uk/ena/data/view/<%= entry.runLink %>"><%= fields.ENA_RUN %></a></td>
            <td data-column="analysis-ena-wgs-seq-set"><%= fields.ENA_WGS_SEQUENCE_SET %></td>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</script>

<div class="reveal" id="filtersModal" data-reveal>
    <h4>Additonal filters</h4>
    <div class="facets"></div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<!-- Optional local footer (insert citation / project-specific copyright / etc here -->
<!-- <footer id="local-footer" class="local-footer" role="local-footer"> -->
<!-- <div class="row"> -->
<!-- <span class="reference">How to reference this page: ...</span> -->
<!-- </div> -->
<!-- </footer> -->
<!-- End optional local footer -->
<!-- </div> -->
<!-- End suggested layout containers / #content -->

<div id="footer">
    {{>partials/elixir}}
    {{>partials/footer}}
</div>

<!-- Google Analytics details... -->
<!-- Change UA-XXXXX-X to be your util's ID -->
<!--
<script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
-->
</body>

</html>
