<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <!--TODO add metadata-->
    <title>Study</title>
    <meta name="description" content="EMBL-EBI"/><!-- Describe what this page is about -->
    <meta name="keywords" content="bioinformatics, europe, institute"/>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whol project) -->
    <meta name="author" content="EMBL-EBI"/><!-- Your [project-name] here -->
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#70BDBD"/> <!-- Android Chrome mobile browser tab color -->

    <!-- Add information on the life cycle of this page -->
    <meta name="ebi:owner" content="John Doe"/> <!-- Who should be contacted about changes -->
    <meta name="ebi:review-cycle" content="30"/> <!-- In days, how often should the content be reviewed -->
    <meta name="ebi:last-review" content="2015-12-20"/> <!-- The last time the content was reviewed -->
    <meta name="ebi:expiry" content="2016-01-20"/> <!-- When this content is no longer relevant -->

    <!-- If you link to any other sites frequently, consider optimising performance with a DNS prefetch -->
    <link rel="dns-prefetch" href="//embl.de"/>

    <!-- If you have custom icon, replace these as appropriate.
         You can generate them at realfavicongenerator.net -->
    <link rel="icon" type="image/x-icon"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/favicon.ico"/>
    <link rel="icon" type="image/png"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="192×192"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/android-chrome-192x192.png"/>
    <!-- Android (192px) -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-touch-icon-114x114.png"/>
    <!-- For iPhone 4 Retina display (114px) -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-touch-icon-72x72.png"/>
    <!-- For iPad (72px) -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-touch-icon-144x144.png"/>
    <!-- For iPad retinat (144px) -->
    <link rel="apple-touch-icon-precomposed"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/apple-touch-icon-57x57.png"/>
    <!-- For iPhone (57px) -->
    <link rel="mask-icon"
          href="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/safari-pinned-tab.svg"
          color="#ffffff"/> <!-- Safari icon for pinned tab -->
    <meta name="msapplication-TileColor" content="#2b5797"/> <!-- MS Icons -->
    <meta name="msapplication-TileImage"
          content="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/favicons/mstile-144x144.png"/>

    <!-- CSS: implied media=all -->
    <!-- CSS concatenated and minified via ant build script-->
    <!--<link rel="stylesheet" href="/static/css/theme-embl-petrol.css" type="text/css" media="all"/>-->
    <!--<link rel="stylesheet" href="/static/css/ebi-global.css" type="text/css" media="all"/>-->
    <!--<link rel="stylesheet" href="/static/fonts/fonts.css" type="text/css" media="all"/>-->

    <!-- Use this CSS file for any custom styling -->
    <!--
      <link rel="stylesheet" href="css/custom.css" type="text/css" media="all">
    -->

    <!-- If you have a custom header image or colour -->
    <meta name="ebi:masthead-color" content="#091314"/>
    <meta name="ebi:masthead-image"
          content="https://wwwdev.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/backgrounds/embl-ebi-background-4.jpg"/>
</head>

<body class="level2"><!-- add any of your classes or IDs -->
<div id="header"></div>

<!-- Suggested layout containers / #content -->
<div id="content">
    <div class="row" role="main">
        <div  id="main-content-area" class="columns small-12 medium-12 large-12">
            <script id="studyTmpl" type="text/template">
                <h3>Project <%= study_accession %> (<%= bioproject %>) </h3>
                <h2><%= study_name %></h2>
                <ul class="tabs" data-tabs id="study-tabs">
                    <li class="tabs-title active"><a href="#overview" aria-selected="true">Overview</a></li>
                    <li class="tabs-title"><a href="#analysis">Analysis summary</a></li>
                </ul>
                <div class="tabs-content" data-tab-content="study-tabs">
                    <div class="tabs-panel active" id="overview">
                        <div class="row">
                            <div class="columns small-4 medium-4 large-4">
                                <h4>Last updated: <%= last_update %></h4>
                                <section>
                                    <h3>Description</h3>
                                    <p class="study-abstract"> <%= abstract %></p>
                                    <h3>Classification</h3>
                                    <% _.each(biomes, function(biome){ %>
                                    <span class="biome_icon icon_sm <%= biome.icon %>" title="<%= biome.name %>"></span>
                                    <!--<p> <%= biome.name %></p>-->
                                    <% }); %>
                                </section>
                            </div>
                            <div class="columns small-8 medium-8 large-8 map">
                                <div id="map">
                                </div>
                                <div id="warning" class="map-alert text-center">
                                    Some samples have no associated latitude/longitude coordinates and could not be marked on the map.
                                </div>
                            </div>
                        </div>
                        <hr>
                        <section id="samples-section">
                            <!--<h3>Associated samples</h3>-->
                            <!--<div id="pageSize2"></div>-->
                            <!--<table id='samplesTable'>-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>Sample name</th>-->
                                    <!--<th>Sample ID</th>-->
                                    <!--<th>Description</th>-->
                                    <!--<th>Last-update</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody id="samplesTableBody" class="live-filter-table">-->
                                <!--</tbody>-->
                            <!--</table>-->
                            <!--<div id="pagination2"></div>-->
                        </section>
                        <hr>
                        <section id="runs-section">
                            <!--<h3>Associated runs</h3>-->
                            <!--<div class="row">-->
                                <!--<div class="columns small-12 medium-6 large-6">-->
                                    <!--<div id="pageSize"></div>-->
                                <!--</div>-->
                                <!--<div class="columns small-12 medium-6 large-6">-->
                                    <!--<label class="right" for="tableFilter">Filter rows: <input id="tableFilter" class="search"></label>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<table id='runsTable'>-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>Sample name</th>-->
                                    <!--<th>Sample ID</th>-->
                                    <!--<th>Run ID</th>-->
                                    <!--<th>Experiment type</th>-->
                                    <!--<th>Instrument platform</th>-->
                                    <!--<th>Instrument model</th>-->
                                    <!--<th>Analyses</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody id="runsTableBody" class="list">-->
                                <!--<tr>-->
                                    <!--<td class='loading-gif-row' colspan="7">-->
                                        <!--<img class='loading-gif' src="/static/images/ajax-loader.gif"/>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                            <!--<div id="pagination"></div>-->
                        </section>
                        <hr>
                        <section id="external-links-section">
                            <div class="row columns">
                                <h3>External links</h3>
                                <ul id="links">
                                    <%= external_links %>
                                </ul>
                            </div>
                        </section>
                    </div>

                    <div class="tabs-panel" id="analysis">
                        <p>In this section you can download the different results matrix files summarising the project.
                            Each
                            downloadable file contains an aggregation of the analysis results from the individual
                            project
                            runs. To visualise and download the analysis results for individual runs, please access
                            their
                            respective pages.</p>
                        <h4>Pipeline version...</h4>
                    </div>
                </div>
            </script>
        </div>
    </div>
    <script id="sampleRow" type="text/template">
        <td class="sample_name"><%= sample_name %></td>
        <td class="sample_id"><a href="<%= sample_url %>"><%= sample_id %></a></td>
        <td class="run_id"><a href="<%= run_url %>"><%= run_id %></a></td>
        <td class="experiment_type"><%= experiment_type %></td>
        <td class="instrument_platform"><%= instrument_platform %></td>
        <td class="instrument_model"><%= instrument_model %></td>
        <td><a href="<%= run_url %>">View analyses</a></td>
    </script>
    <script id="runRow" type="text/template">
        <td class="sample_name"><%= sample_name %></td>
        <td class="sample_id"><a href="<%= sample_url %>"><%= sample_id %></a></td>
        <td class="run_id"><a href="<%= run_url %>"><%= run_id %></a></td>
        <td class="experiment_type"><%= experiment_type %></td>
        <td class="instrument_platform"><%= instrument_platform %></td>
        <td class="instrument_model"><%= instrument_model %></td>
        <td><a href="<%= run_url %>">View analyses</a></td>
    </script>
</div>
<!-- Optional local footer (insert citation / project-specific copyright / etc here -->
<!-- <footer id="local-footer" class="local-footer" role="local-footer"> -->
<!-- <div class="row"> -->
<!-- <span class="reference">How to reference this page: ...</span> -->
<!-- </div> -->
<!-- </footer> -->
<!-- End optional local footer -->
<!-- </div> -->
<!-- End suggested layout containers / #content -->

<div id="footer"></div>

<!--Google Map marker API-->
<script id="marker-template" type="text/x-handlebars-template">

    <div class="row">
        <div class="columns small-1 medium-1 large-1"></div>
        <div class="columns small-11 medium-11 large-11">
            <h2>Sample - {{this.id}}</h2>
            <!--<p>{{this.name}}</p>-->
        </div>
    </div>
    <div class="row columns">
        <p>{{this.desc}}</p>
    </div>
    <div class="row">
        <div class="columns">
            <ul>
                <li>
                    Classification: {{this.classification}}
                </li>
                <li>
                    Collection date: {{this.collection_date}}
                </li>
                <li>
                    Lat/Long: {{this.lat}}, {{this.lng}}
                </li>
                <li>
                    Sampling depth: TODO
                </li>
            </ul>
        </div>
    </div>
    <div class="row text-center">
        <a href="{{this.sample_url}}" class="button">View more</a>
    </div>
</script>

<!-- JavaScript -->

<script src="/static/libraries/markerclusterer/src/markerclusterer.js"></script>
<script src="/static/libraries/oms.min.js"></script>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/libraries/jquery.liveFilter.js"></script>
<script defer="defer" src="/static/js/script.js"></script>


<!-- The Foundation theme JavaScript -->

<script src="/static/js/foundation.js"></script>
<script src="/static/js/foundationExtendEBI.js"></script>
<script type="text/JavaScript">
    $(document).ready(function () {
        $(document).foundation();
        $(document).foundationExtendEBI();
    });
</script>
<script src="/js/study.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAivAQNT-w_7wzIJ9nf7E9GTOzn1mkDGzE&callback=initPage">
</script>
<!-- Google Analytics details... -->
<!-- Change UA-XXXXX-X to be your util's ID -->
<!--
<script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
-->
</body>


</html>