<!doctype html>
<html lang="en">
<head id="head">
    <title>MGnify &lt; EMBL-EBI</title>
    <script>
        var regex = /([A-z0-9,%+.]+)(?:$|[?])/g;
        document.title = 'Study '+regex.exec(window.location.pathname)[1];
    </script>
    {{> partials/head this}}
    <meta property="og:title" content="MGnify study page > EMBL-EBI">
    <meta property="twitter:title" content="MGnify study page > EMBL-EBI">

    <meta name="og:description" content="View this study.">
    <meta name="twitter:description" content="View this study.">
</head>

<body class="level2"><!-- add any of your classes or IDs -->
<div id="header-container">{{> partials/header this}}</div>

<!-- Suggested layout containers / #content -->
<div id="content">
    <div id="main-content-area" class="row columns small-12 medium-12 large-12" role="main">
        <script id="studyTmpl" type="text/template">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs columns">
                    <li><a href="{{htmlWebpackPlugin.options.templateData.subfolder}}/">Home</a></li>
                    <li><a href="{{htmlWebpackPlugin.options.templateData.subfolder}}/browse#studies">Browse studies</a>
                    </li>
                    <li>
                        <span class="show-for-sr">Current: </span> Study <%= study_accession %>
                    </li>
                </ul>
            </nav>
            <h3>Study <%= study_accession %></h3>
            <h2><%= study_name %></h2>
            <ul class="tabs" data-tabs id="study-tabs">
                <li class="tabs-title is-active"><a href="#overview" aria-selected="true">Overview</a></li>
                <li class="tabs-title"><a href="#analysis">Analysis summary</a></li>
            </ul>
            <div class="tabs-content" data-tab-content="study-tabs">
                <div class="tabs-panel active" id="overview">
                    <div class="row">
                        <div id="study-description" class="columns small-12 medium-4 large-4">
                            <h4>
                                Last updated: <%= last_update %>
                            </h4>
                            <div class="columns row">
                                <h3 class="columns">Classification</h3>
                                <% _.each(biomes, function(biome) { %>
                                    <div class="columns">
                                        <span class="biome_icon icon_sm <%= biome.icon %>" title="<%= biome.name %>"></span>
                                        <%= biome.name %>
                                    </div>
                                <% }); %>
                            </div>
                            <div class="columns">
                                <h3>Description</h3>
                                <p class="study-abstract">
                                    <%= abstract %>
                                </p>
                            </div>
                        </div>
                        <div id="map-container" class="columns small-12 medium-8 large-8 map">
                            <div class="samples-counter"></div>
                            <img class="map-spinner loading-spinner loading-gif-large hidden" src="{{htmlWebpackPlugin.options.templateData.subfolder}}/static/images/ajax-loader.gif" alt="Loading...">
                            <div id="map"></div>
                        </div>
                    </div>
                    <hr>
                    <section id="external-links-section">
                        <div class="row">
                            <% if (related_studies.length > 0) { %>
                                <div class="columns small-12 medium-4 large-4">
                                    <h3>Related studies</h3>
                                    <div class="row columns">
                                        <ul data-cy="relatedStudies">
                                            <% _.each(related_studies, function(study) { %>
                                                <li>
                                                    <a href="<%= study.study_url %>"><%= study.id %></a>
                                                </li>
                                            <% }); %>
                                        </ul>
                                    </div>
                                </div>
                            <% } %>
                            <div class="columns small-12 medium-8 large-8">
                                <h3>External links</h3>
                                <div class="row columns">
                                    <ul id="ebi_ena_links">
                                        <li><a class="ext" href="<%= ena_url %>">
                                            ENA website (<%= study_secondary_accession%>)
                                        </a></li>
                                    </ul>
                                </div>
                                <h3>Publications</h3>
                                <div class="row columns" data-cy="publications">
                                    <ul id="europe_pmc_links">
                                        <% _.each(publications, function(pub){ %>
                                        <li>
                                            <span class="pub-title"><%= pub.title %> <br></span>
                                            <%= pub.authors %> <br>
                                            <%= pub.publishedYear %> <%= pub.volume %>
                                            (PMID: <a class="ext" href="<%= pub.pmc_url %>"><%= pub.pubmedID %></a>)
                                            (DOI: <a class="ext" href="<%= pub.doi_url %>"><%= pub.doi %></a>)
                                            </p>
                                        </li>
                                        <% }); %>
                                        <% if (publications.length===0) { %>
                                        <li>No known publications.</li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr>
                    <section id="analysis-section">
                    </section>
                    <!--<section id="samples-section">-->
                    <!--</section>-->
                    <!--<hr>-->
                    <!--<section id="runs-section">-->
                    <!--</section>-->
                </div>

                <div class="tabs-panel" id="analysis">
                    <p>In this section you can download the different results matrix files summarising the study.
                        Each downloadable file contains an aggregation of the analysis results from the individual
                        study's runs. To visualise and download the analysis results for individual runs, please access
                        their respective pages.</p>
                    <div id="downloads">

                    </div>
                </div>
            </div>
        </script>
    </div>
    <script id="downloadsTmpl" type="text/template">
        <% for (let [pipeline, groups] of Object.entries(pipeline_files)){ %>
            <div class="row columns">
                <h3>Pipeline version: <%= pipeline %></h3>
                <% for (let [key, downloads] of Object.entries(groups)){ %>
                    <h4><%= key %></h4>
                    <% _.each(downloads, function(download){ %>
                        <p><a href="<%= download.attributes.link %>"><%= download.attributes.description.label %></a></p>
                    <% }); %>
                <% } %>
            </div>
            <br>
        <% } %>
    </script>
</div>

<div id="footer">
    {{>partials/elixir}}
    {{>partials/footer}}
</div>

</body>


</html>