.mg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: lightgray;
  z-index: 100000;
}
.mg-overlay-content {
  z-index: 100001;
  background-color: white;
  position: absolute;
  left: 25%;
  top: 10%;
  width: 50%;
  min-height: 20vh;
}
